DEBUG = False
SECRET_KEY = Sua chave secreta

ALLOWED_HOSTS = locahost, 127.0.0.1

#Configuração do S3
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_STORAGE_BUCKET_NAME = Nome do bucket


EMAIL_BACKEND =
SENDGRID_API_KEY = API Key do Sendgrid
EMAIL_USER =
