{% extends 'portfolio/base.html' %}

{% load static %}


{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>3DS <em>Max</em></h1>
                    <br>
                    <br>
                    <h4><em>Descrição:</em> O 3ds Max oferece recursos incríveis para a criação de modelos e animações
                        3D. Com um conjunto de ferramentas criativas para modelagem, animação,
                        simulação e renderização 3D, o 3ds Max ajuda os artistas de jogos, filmes e
                        gráficos animados a criar conteúdo 3D melhor e em menos tempo.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Ensinar ao aluno a base de funcionamento
                        das principais ferramentas do 3ds, fornecendo
                        condições para o avanço do aluno na área da
                            modelagem.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 20 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial ou EAD
                        <br>
                        <br>
                        <em>Versões:</em> 3ds Max 2019
                        <br>
                        <br>
                        <em>Categoria:</em> Design Gráfico
                        <br>
                        <br>
                            <br>
                            <br>
                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                             &#9679; Conhecer o 3ds Max
                              <br>
                              <br>
                             &#9679; Aprender os eixos e as funções do mouse no 3ds
                            Max
                              <br>
                              <br>
                             &#9679; Utilizar o painel de comandos do 3ds Max
                              <br>
                              <br>
                             &#9679; Utilizar a guia criar, geometria e formas
                              <br>
                              <br>
                             &#9679; Utilizar as ferramentas de seleção e seus gizmos
                              <br>
                              <br>
                             &#9679; Modelagem de polígonos básica
                              <br>
                              <br>
                             &#9679; A ferramenta linha e o modificador limpar
                              <br>
                              <br>
                             &#9679; Utilizar os diferentes tipos de snaps
                              <br>
                              <br>
                             &#9679; Utilizar a ferramenta matriz
                              <br>
                              <br>
                             &#9679; Utilizar a ferramenta proboolean e o modificador
                            simetria
                              <br>
                              <br>
                             &#9679; Fazer extrusão em spline e a suavização de malha
                              <br>
                              <br>
                             &#9679; Criar e ajustar materiais
                              <br>
                              <br>
                             &#9679; Inserir câmeras e utiliza-las para renderização
                              <br>
                              <br>
                             &#9679; Criar e ajustar a iluminação
                              <br>
                              <br>
                             &#9679; Criar animação e finalizar a renderização
                              <br>
                              <br>

                    </h4>
                </div>

            </section>

{% endblock body %}
</div>