{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Access</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Access</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Access permite que o usuário, mesmo sem ser especialista, crie e gerencie
bancos de dados de forma fácil, para desenvolver soluções que otimizam
a entrada, filtros e geração de relatórios, criando sistemas completos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Ensinar ao aluno o conceito básico de um banco
de dados, tabelas, registros, relacionamentos,
e aplicar, desenvolvendo projetos práticos que
envolvem os mais diversos recursos contidos no
Access.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> 365 (Compatível com 2019) e 2016
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Conhecer um banco de dados
                            <br>
                                                          <br>
&#9679; Criar tabelas e campos
                            <br>
                                                          <br>
&#9679; Editar tabelas
                            <br>
                                                          <br>
&#9679; Regra de validação
                            <br>
                                                          <br>
&#9679; Formulários
                            <br>
                                                          <br>
&#9679; Manipular registros
                            <br>
                                                          <br>
&#9679; Pesquisar e filtrar dados
                            <br>
                                                          <br>
&#9679; Exibição de layout para formulários
                            <br>
                                                          <br>
&#9679; Inserir um cabeçalho no formulário
                            <br>
                                                          <br>
&#9679; Relatórios
                            <br>
                                                          <br>
&#9679; Relacionamentos: um para muitos
                            <br>
                                                          <br>
&#9679; Relacionamentos: muitos para muitos
                            <br>
                                                          <br>
&#9679; Utilizar subformulários
                            <br>
                                                          <br>
&#9679; Consultas
                            <br>
                                                          <br>
&#9679; Macros
                            <br>
                                                          <br>
&#9679; Formulário: modo design
                            <br>
                                                          <br>
&#9679; Projeto posto de combustíveis
                            <br>
                                                          <br>
&#9679; Importação e exportação de dados
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>