{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Administração</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Todos os profissionais necessitam de uma visão ampla do funcionamento
de sua empresa, seja qual for a área da mesma em que irá trabalhar. Essa
visão garante ao profissional um entendimento melhor do seu trabalho
dentro da organização.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Esse curso de Administração visa trazer essa visão
da empresa ao aluno, de forma leve, procura passar
conceitos que ajudarão muito no dia a dia profissional
de todos. Procuramos mostrar como funcionam
alguns processos que são rotineiros dentro
de uma empresa e também uma visão geral dos
setores mais importantes.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; A Importância de Dirigir os Esforços
                                                          <br>
                                                          <br>
&#9679; Requerimentos para o Sucesso
                                                          <br>
                                                          <br>
&#9679; Conhecer e Calcular o Resultado da Empresa
                                                          <br>
                                                          <br>
&#9679; Classificação de Produtos e Serviços
                                                          <br>
                                                          <br>
&#9679; Conceito de Fornecedor e Cliente
                                                          <br>
                                                          <br>
&#9679; Os Três Ramos de Atividade
                                                          <br>
                                                          <br>
&#9679; Comércio e Mercado
                                                          <br>
                                                          <br>
&#9679; Tipos de Empresa
                                                          <br>
                                                          <br>
&#9679; Pessoa Física e Jurídica
                                                          <br>
                                                          <br>
&#9679; Níveis Hierarquicos
                                                          <br>
                                                          <br>
&#9679; Setores da Empresa
                                                          <br>
                                                          <br>
&#9679; Controle e Custo de Estoque
                                                          <br>
                                                          <br>
&#9679; Funções de Apoio
                                                          <br>
                                                          <br>
&#9679; Burocracia
                                                          <br>
                                                          <br>
&#9679; Core Business e Core Competence
                                                          <br>
                                                          <br>
&#9679; Empresas nos Dias Atuais
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>