{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>After Effects</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>After Effects</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O After Effects é um software para criação de gráficos em movimento,
                    muito utilizado para a produção de vinhetas, lowerthirds e para a pós
                    produção em geral.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este curso visa ensinar o aluno o básico para a
                        criação de elementos animados, passando pelos
                        princípios de movimentação até a finalização
                        com um projeto.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                        <em>Versões:</em> After Effects CC 2019
                        <br>
                        <br>

                        <br>
                        <br>
                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                        &#9679; Criar uma nova composição
                                                          <br>
                              <br>
                        &#9679; Importar diferentes tipos de arquivos
                            <br>
                              <br>
                        &#9679; Utilizar de camadas
                            <br>
                              <br>
                        &#9679; Criar formas e sólidos
                            <br>
                              <br>
                        &#9679; Aplicar efeitos nos sólidos
                            <br>
                              <br>
                        &#9679; Utilizar os diferentes tipos de frame
                            <br>
                              <br>
                        &#9679; Conhecendo os princípios de animação
                            <br>
                              <br>
                        &#9679; Princípio de animação - easy ease
                            <br>
                              <br>
                        &#9679; Princípio de animação - estica e esmaga
                                                          <br>
                              <br>
                        &#9679; Princípio de animação - antecipação
                                                          <br>
                              <br>
                        &#9679; Criar, formatar e animar textos
                                                          <br>
                              <br>
                        &#9679; Criar uma vinheta
                                                          <br>
                              <br>
                        &#9679; Criar animações com múltiplos efeitos
                                                          <br>
                              <br>
                        &#9679; Criar e animar camadas de forma
                                                          <br>
                              <br>
                        &#9679; Criar uma lower third
                                                          <br>
                              <br>
                        &#9679; Ajustes de chroma key
                                                          <br>
                              <br>
                        &#9679; Correção básica de cor
                                                          <br>
                              <br>
                        &#9679; Renderizar sua composição
                                                        <br>
                                                        <br>

                    </h4>
                </div>

            </section>

{% endblock body %}
</div>