{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Atendimento ao Cliente</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Atendimento ao cliente é a prestação de serviço aos clientes antes, durante
e depois da compra. A percepção de sucesso de tais interações depende
dos funcionários “que podem ajustar-se à personalidade do consumidor”.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Esse curso visa mostrar para o aluno a importância
do atendimento ao cliente, mostra que o atendimento
é parte essencial para o sucesso da empresa
e do profissional.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Mundo Em Mudança
                            <br>
                                                          <br>
&#9679; Características Do Mundo Atual E Seu Impacto Nas Relações Comerciais
                            <br>
                                                          <br>
&#9679; Atendimento Ao Cliente: O Que Faz A Diferença?
                            <br>
                                                          <br>
&#9679; Ideal De Servir
                            <br>
                                                          <br>
&#9679; 4 Fases Da Excelência No Atendimento: Entender O Cliente
                            <br>
                                                          <br>
&#9679; Entender O Cliente: Tipos De Cliente
                            <br>
                                                          <br>
&#9679; Por Que As Empresas Perdem Clientes?
                            <br>
                                                          <br>
&#9679; 4 Fases Da Excelência No Atendimento: Atender O Cliente
                            <br>
                                                          <br>
&#9679; Todo Atendimento É Uma Oportunidade
                            <br>
                                                          <br>
&#9679; Como Os Clientes Querem Ser Tratados?
                            <br>
                                                          <br>
&#9679; O Poder Da Imagem Profissional
                            <br>
                                                          <br>
&#9679; 4 Fases Da Excelência No Atendimento: Satisfazer O Cliente
                            <br>
                                                          <br>
&#9679; 4 Fases Da Excelência No Atendimento: Encantar O Cliente
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>