{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>AutoCAD - Base</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>AutoCAD - Base</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O AutoCAD é uma das ferramentas mais utilizadas em vários segmentos
                    da indústria e da construção civil para elaboração de projetos mecânicos
                    e elétricos e também de plantas de casas e construções em geral.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> No curso base, o aluno trabalhará com o ambiente
                            2D e aprenderá a usar as ferramentas básicos
                            do AutoCAD para que entenda seu conceito
                            de funcionamento possibilitando seu aprofundamento
                            na área desejada.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 26 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> AutoCAD 2016, 2013, 2020
                        <br>
                        <br>

                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                             <br>
                             <br>
                            &#9679; Conhecer o AutoCAD
                            <br>
                            <br>
                            &#9679; Menu de precisão
                            <br>
                            <br>
                            &#9679; Desenhar linhas com medida
                            <br>
                            <br>
                            &#9679; Cotar o desenho
                            <br>
                            <br>
                            &#9679; Ferramenta retângulo e círculo
                            <br>
                            <br>
                            &#9679; Deslocamento
                            <br>
                            <br>
                            &#9679; Usar ferramentas do painel modificar
                            <br>
                            <br>
                            &#9679; Ferramenta arco
                            <br>
                            <br>
                            &#9679; Ferramenta espelhar
                            <br>
                            <br>
                            &#9679; Ferramenta matriz e concordância
                            <br>
                            <br>

                    </h4>
                </div>

            </section>

{% endblock body %}
</div>