{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>AutoCAD Total</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>AutoCAD Total</em></h1>
                    <h3><em>Público alvo:</em>
                        Usuários que desejam se tornar um cadista, que é o profissional que trabalha com a ferramenta CAD,
                        podendo trabalhar em diversas empresas que precisam desse profissional para desenvolver seus
                        projetos, como: engenharia, arquitetura, indústrias, etc.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 104 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 13 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_3dcivil' %}">AutoCAD - 3D Civil (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_base' %}">AutoCAD - Base (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_mecanica_base' %}">AutoCAD - Mecânica Base (32 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_projeto_civil' %}">AutoCAD - Projeto Civil (24 horas)</a>
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>