{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>AutoCAD </em> - 3D Civil</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O AutoCAD é uma das ferramentas mais utilizadas em vários segmentos
                    da indústria e da construção civil para elaboração de projetos mecânicos
                    e elétricos e também de plantas de casas e construções em geral.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O recurso 3D no AutoCAD é muito poderoso e utilizado
                        para a visualização final dos projetos. Neste
                        curso o aluno aprenderá a trabalhar com esse recurso,
                        aplicando no desenvolvimento do projeto
                        de uma residencia em 3D.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> AutoCAD - Base
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> AutoCAD 2016, 2013
                        <br>
                        <br>

                        <br>
                        <br>
                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Iniciar o projeto da casa em 3D
                                                        <br>
                                                        <br>
                            &#9679; Transformar em polilinha
                                                        <br>
                                                        <br>
                            &#9679; Configurar e utilizar estilos visuais
                                                        <br>
                                                        <br>
                            &#9679; Utilizar as vistas em 3D
                                                        <br>
                                                        <br>
                            &#9679; O comando união
                                                        <br>
                                                        <br>
                            &#9679; Utilizar camadas no desenho 3D
                                                        <br>
                                                        <br>
                            &#9679; O comando subtrair
                                                        <br>
                                                        <br>
                            &#9679; Desenhar com polilinhas
                                                        <br>
                                                        <br>
                            &#9679; Renderizar
                                                        <br>
                                                        <br>
                            &#9679; Utilizar ferramentas 3D

                                                        <br>
                                                        <br>

                    </h4>
                </div>

            </section>

{% endblock body %}
</div>