{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>AutoCAD </em> - Projeto Civil</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O AutoCAD é uma das ferramentas mais utilizadas em vários segmentos
                    da indústria e da construção civil para elaboração de projetos mecânicos
                    e elétricos e também de plantas de casas e construções em geral.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Esse curso visa ensinar ao aluno a aplicação do
                        AutoCAD na construção civil, nele será aplicado
                        todo o conhecimento adquirido no curso de Auto-
                        CAD – Base para o desenvolvimento de um projeto
                        completo de uma residência.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> AutoCAD - Base
                        <br>
                        <br>
                        <em>Carga horária:</em> 28 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> AutoCAD 2016, 2013, 2020
                        <br>
                        <br>

                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Iniciar o projeto civil
                            <br>
                            <br>
                            &#9679; Projetar as paredes da planta
                            <br>
                            <br>
                            &#9679; Desenhar os cômodos da casa
                            <br>
                            <br>
                            &#9679; Trabalhar com camadas
                            <br>
                            <br>
                            &#9679; Utilização de blocos
                            <br>
                            <br>
                            &#9679; Utilização de textos
                            <br>
                            <br>
                            &#9679; Criação de hachuras
                            <br>
                            <br>
                            &#9679; Desenhar os cortes do projeto
                            <br>
                            <br>
                            &#9679; Criar tabelas para exibição de dados
                            <br>
                            <br>
                            &#9679; Imprimir / Plotar
                            <br>
                            <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>