{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Balconista de Farmácia</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Balconista de Farmácia</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O balconista é responsável pelo primeiro contato do cliente com o
estabelecimento, além do contato com o cliente, o balconista também é
responsável pela dispensação de medicamentos e correlatos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Apresentar os conceitos básicos para o atendimento
de clientes em farmácias ou drogarias,
passando pela leitura de receitas, identificação de
cosméticos, técnicas de venda, abordagem de clientes.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 14 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Liderança e Vendas
                            <br>
                                                          <br>
&#9679; Cotidiano de uma Drogaria
                            <br>
                                                          <br>
&#9679; Farmacologia
                            <br>
                                                          <br>
&#9679; Alopatia, Homeopatia e Fitoterapia
                            <br>
                                                          <br>
&#9679; Síndrome Metabólica
                            <br>
                                                          <br>
&#9679; A Saúde da Mulher
                            <br>
                                                          <br>
&#9679; Doenças Sexualmente Transmissíveis
                            <br>
                                                          <br>
&#9679; Saúde Mental
                            <br>
                                                          <br>
&#9679; Dor e Inflamação
                            <br>
                                                          <br>
&#9679; Rins e Fígado
                            <br>
                                                          <br>
&#9679; Saúde na Geriatria
                            <br>
                                                          <br>
&#9679; Doenças de Inverno
                            <br>
                                                          <br>
&#9679; Vacinas
                            <br>
                                                          <br>
&#9679; Sistema Cardíaco
                            <br>
                                                          <br>
&#9679; Antibióticos
                            <br>
                                                          <br>
&#9679; Sistema Gastrointestinal
                            <br>
                                                          <br>
&#9679; Pele
                            <br>
                                                          <br>
&#9679; Produtos para o Cabelo
                            <br>
                                                          <br>
&#9679; Técnicas de Venda de Cosméticos
                            <br>
                                                          <br>
&#9679; Medir Fatores Biológicos
                            <br>
                                                          <br>
&#9679; Cotidiano de uma Drogaria (Extra)
                            <br>
                                                          <br>
&#9679; Fontes de Informação (Extra)
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>