{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% block title %}<title>NOVA Base Cursos</title>{% endblock title %}

        <meta name="description" content="Nova Base Cursos">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>




        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

    </head>

<body>

        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

                        <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">

                        {% block ul %}
                        <li><a href="/#top">Home</a></li>
                        <li><a href="/#featured">Nossos Cursos</a></li>
                        <li><a href="/#projects">Sobre Nós</a></li>
                        <li><a href="/#contact">Contato</a></li>

                        {% endblock ul %}

                    </ul>
                </nav>
            </div>

        </header>



<div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" width = "85%" />
                </a>
            </div>


            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Nossos Cursos
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Sobre Nós
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contato
                        </a>
                    </li>
                </ul>
            </nav>






            <ul class="social-icons">

                <li><a href="https://www.facebook.com/novabasecursos" target="_blank">
                    <img src="{% static 'img/facebook.png' %}" name='facebook-logo' width="30" height="30">
                </a></li>

                <li><a href="https://www.twitter.com/novabasecursos" target="_blank">
                    <img src="{% static 'img/twitter.png' %}" name='twitter-logo' width="30" height="30">
                </a></li>
                <li><a href="https://www.instagram.com/novabasecursos" target="_blank">
                    <img src="{% static 'img/instagram.png' %}" name='instagram-logo' width="30" height="30">
                </a></li>
            </ul>
        </div>



            {% block body %}


                </header>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                            <div>
                              <h1>NOVA Base<br>Cursos</h1>
                              <p>Cursos presenciais ou EAD<br>
                                Temos o melhor pacote para você!</p>
                              <div class="white-button button">
                                  <a href="#featured">Saiba Mais</a>
                              </div>
                            </div>
                            </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Monitoria presencial e online
                              <br>
                              <br>
                          </p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Informática, idiomas, vendas,
                            <br>marketing, design e muito mais!</p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Nossos<br><em>Cursos</em></h1>
                    <p>Na NOVA Base Cursos é possível escolher
                    <br>entre as modalidades presencial ou online.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/dev_games.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'desenvolvimento_web' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Desenvolvimento Web</h4>
                                <span>Construção de Web Sites</span>
                                <p>Cursos para construção e personalização de páginas web.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/design_mecanico.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'design_mecanico' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Design de peças mecânicas e arquitetura</h4>
                                <span>Desenho de peças mecânicas, arquitetura e projeto civil</span>
                                <p>Cursos voltados para o design de peças mecânicas, plantas, arquitetura, projeto civil e muito mais.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/design_grafico.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'design_grafico' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Design Gráfico e Games</h4>
                                <span>Edição de imagens, vídeos e produção de games</span>
                                <p>Cursos direcionados para quem deseja trabalhar com edição de imagem, vídeos e desenvolvimento de games.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/informatica.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'informatica' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Informática</h4>
                                <span>Aprenda a utilizar as principais ferramentas da informática</span>
                                <p>Cursos para quem deseja aprender mais sobre Internet, Sistemas Operacionais, Programação e muito mais!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/marketing.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'marketing' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Marketing</h4>
                                <span>Marketing Digital e Pessoal</span>
                                <p>Cursos voltados para quem deseja trabalhar com Marketing Digital ou
                                    aprimorar seu próprio Marketing Pessoal</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/pacote_office.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'pacote_office' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Pacote Office</h4>
                                <span>Access, Excel, PowerPoint, Word</span>
                                <p>Cursos para usuários que desejam dominar o Pacote Office e realizar trabalhos e apresentações
                                incríveis!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/profissionalizante.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'profissionais' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Profissionalizante</h4>
                                <span>Administração, Secretariado, Logística e muito mais</span>
                                <p>Cursos voltados para o mercado de trabalho com especialização em áreas diversas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/pacote_especial.png' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'pacotes' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Pacotes Especiais</h4>
                                <span>Pacote de cursos personalizados para potencializar sua formação!</span>
                                <p>Usuários que desejam aprimorar sua formação em uma área específica podem
                                obter pacotes completos de cursos na área desejada.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Sobre Nós</em></h1>
                    <!--<h3><em>Missão, Visão e Valores.</em>
                    </h3>-->
                </div>
                <div class="section-heading">
                    <h3>

                        &#9654; Nossa <em>missão</em>: Oferecer qualificação inovadora e com qualidade, ajudando assim, a transformar positivamente a vida dos nossos alunos.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossa <em>visão</em>: Ser uma nova base educacional de referência e inovadora no ensino profissional em Campos dos Goytacazes e todo Brasil através de nossos cursos EAD e presenciais.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossos <em>valores</em>: Ética, respeito, profissionalismo, responsabilidade e cordialidade.

                    </h3>


                </div>
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Mais sobre <em>nossos pacotes</em></h1>
                            <p>Na NOVA Base Cursos é possível realizar cursos individuais ou selecionar pacotes para aprimorar sua formação.</p>
                        </div>
                        <div class="text-content">
                            <p>Inglês, marketing, informática, programação, design e muito mais!</p>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="box-video">

                                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/519987224" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                        </div>
                    </div>
                </div>
            </section>


        <section id="contact" class="content-section">
                <div id="map">
                    <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=rua%20tenente%20coronel%20cardoso%20422%20sala%2002&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Contato<br><em>NOVA Base Cursos</em></h1>
                        <p>Para mais informações, entre em contato conosco.
                        <br>Telefone/WhatsApp:  (22) 99925 - 9350.
                        <br>E-mail: novabasecursos@gmail.com</p>

                    </div>
                    <div class="section-content">
                            <form id="contact" action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Nome" value="{{ form.name }}" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-4">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" value="{{ form.email }}" required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-4">
                                  <fieldset>
                                    <input name="phone" type="text" class="form-control" id="phone" placeholder="Telefone" value="{{ form.phone }}" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Qual o curso de SEU INTERESSE?" value="{{ form.message }}" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Enviar</button>
                                  </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>


{% endblock body %}

        <section class="footer">
                <p>Copyright &copy; {% now "Y" %} NOVA Base Cursos</p>
        </section>


</div>
</body>
</html>
