{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Construct 3</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Construct é uma ferramenta gratuita utilizada para criação de jogos
DirectX. Ela permite que os jogos sejam criados utilizando uma maneira
fácil de arrastar e soltar, usando um sistema de programação baseada em
eventos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Nesse curso o aluno iniciante conhece a estrutura
de funcionamento e também as ferramentas desse
fantástico programa, o Construct 2, iniciando nessa
área tão promissora que é a de desenvolvimento
de jogos.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Conhecimentos em lógica de programação e uso do
PC.
                        <br>
                        <br>
                        <em>Carga horária:</em> 30 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                            <br>
                            <br>
                            <em>Versões:</em> Construct 3
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Scirra/Construct 3
                                                          <br>
                                                          <br>
&#9679; Conhecendo O Construct 3
                                                          <br>
                                                          <br>
&#9679; Objetos
                                                          <br>
                                                          <br>
&#9679; Comportamentos
                                                          <br>
                                                          <br>
&#9679; Eventos E Ações
                                                          <br>
                                                          <br>
&#9679; Pequenas Interações
                                                          <br>
                                                          <br>
&#9679; Variáveis
                                                          <br>
                                                          <br>
&#9679; Variáveis De Instância
                                                          <br>
                                                          <br>
&#9679; Controles
                                                          <br>
                                                          <br>
&#9679; Sistema De Vida
                                                          <br>
                                                          <br>
&#9679; Reiniciar Layout
                                                          <br>
                                                          <br>
&#9679; Variáveis Globais
                                                          <br>
                                                          <br>
&#9679; Projetos De Jogos
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>