{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Contabilidade</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> A Contabilidade registra todas as informações de transações da empresa
e suas consolidações, dando condições para que se transformem em
informações estratégicas para gerentes, diretores, presidentes, acionistas
e demais interessados no desempenho da empresa.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Esse curso visa trazer ao aluno iniciante conhecimentos
da estrutura contábil. De forma prática,
os conceitos vão sendo estudados e aplicados
através de planilhas desenvolvidas em Excel, para
que o aluno aprenda fazendo.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Funções e a Tomada de Decisões
                            <br>
                                                          <br>
&#9679; Organização das Contas
                            <br>
                                                          <br>
&#9679; Patrimônio
                            <br>
                                                          <br>
&#9679; Ativo, Passivo e Patrimônio Líquido
                            <br>
                                                          <br>
&#9679; Crédito, Débito e o Balanço Patrimonial
                            <br>
                                                          <br>
&#9679; Resultado e Informações
                            <br>
                                                          <br>
&#9679; Atos e Fatos Administrativos
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Introdução
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Registro Contábil
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Investimento Inicial
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Investimento
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Despesas
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Receitas
                            <br>
                                                          <br>
&#9679; Escrituração Contábil: Fechamento do Balanço
                            <br>
                                                          <br>
&#9679; Patrimonial
                            <br>
                                                          <br>
&#9679; Situações Patrimoniais
                            <br>
                                                          <br>
&#9679; Classificação das Contas Patrimoniais: Ativo
                            <br>
                                                          <br>
&#9679; Classificação das Contas Patrimoniais: Passivo
                            <br>
                                                          <br>
&#9679; Classificação das Contas Patrimoniais: Presente e Futuro
                            <br>
                                                          <br>
&#9679; Escrituração Contabil: Circulante e Não Circulante
                            <br>
                                                          <br>
&#9679; Escrituração Contabil: Circulante e Não Circulante - Despesas
                            <br>
                                                          <br>
&#9679; Escrituração Contabil: Circulante e Não Circulante - Receitas
                            <br>
                                                          <br>
&#9679; Escrituração Contabil: Circulante e Não Circulante - Fechamento do BP
&#9679; Sistema de Controle de Estoque
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>