{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Corel</em>DRAW</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Um dos líderes de mercado no segmento de design gráfico, amplamente
                        utilizado nas empresas gráficas, é uma ferramenta muito poderosa e
                        versátil utilizada por designers profissionais.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Apresentar o programa e as suas ferramentas
                        para o aluno que deseja iniciar no setor de
                        produções gráficas, abordando o básico para a
                        utilização do programa.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> CorelDRAW 2018 e X7
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
                            &#9679; Conhecer o CorelDRAW
                                                          <br>
                                                          <br>
                            &#9679; Criar preenchimentos básicos e avançados
                                                          <br>
                                                          <br>
                            &#9679; Criar e formatar textos
                                                          <br>
                                                          <br>
                            &#9679; Interações entre objetos
                                                          <br>
                                                          <br>
                            &#9679; Ferramentas interativas
                                                          <br>
                                                          <br>
                            &#9679; Ferramentas de desenho
                                                          <br>
                                                          <br>
                            &#9679; Recursos complementares
                                                          <br>
                                                          <br>
                            &#9679; Exportar arquivos
                                                          <br>
                                                          <br>
                            &#9679; Configurações e impressões
                                                        <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>