{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>CSS3 </em><i>(Cascading Style Sheets)</i></h1>
                    <br>
                    <br>
                     <img src="{% static 'img/css1.png' %}" width = "50%" />
                    <br>
                    <br>
                    <h4><em>Descrição:</em> O CSS promove a separação entre o código
                    (HTML) e o estilo (formatação) das páginas de internet. Através do uso
                    de CSS, conseguimos efeitos de formatação e de layouts muito atraentes
                    para páginas de internet, além da facilidade de criação de modelos (temas)
                    para páginas de internet.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso é voltado para o aluno que já conhece
                            HTML e que está se desenvolvendo na área de
                            desenvolvimento web. O objetivo é ensinar o
                            conceito do funcionamento do CSS para que o
                            aluno aplique seus conhecimentos, deixando suas
                            páginas com formato de trabalho profissional.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Conhecimento em HTML
                        <br>
                        <br>
                        <em>Carga horária:</em> 16 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> HTML5
                        <br>
                        <br>
                        <em>Categoria:</em> Web Design
                        <br>
                        <br>

                            <br>
                            <br>
                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Introdução ao HTML
                                                          <br>
                              <br>
                            &#9679;Iniciar o uso de CSS em páginas HTML
                                                          <br>
                              <br>
                            &#9679;Formatar o fundo das páginas (background)
                                                          <br>
                              <br>
                            &#9679;Formatação de margens
                                                          <br>
                              <br>
                            &#9679;Formatação de textos
                                                          <br>
                              <br>
                            &#9679;Formatação de parágrafos
                                                          <br>
                              <br>
                            &#9679;Propriedades de posicionamento de objetos
                                                          <br>
                              <br>
                            &#9679;Posicionar objetos (frente e atrás)
                                                          <br>
                              <br>
                            &#9679;Bordas em objetos
                                                          <br>
                              <br>
                            &#9679;Listas ordenadas e não ordenadas com CSS
                                                          <br>
                              <br>
                            &#9679;Formatar formulários
                                                          <br>
                              <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>