{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Curso<br><em>Rápido</em></h1>
                    <h3><em>Público alvo:</em> Usuários que tem pressa em aprender as principais ferramentas de utilização do computador (Windows,
                    Word e Excel) e também todo o conceito essencial para a navegação e utilização da internet.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 36 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 5 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Express (24 horas)
                        <br>
                        <br>
                        &#9655; Internet (12 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}
</div>