{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Departamento Pessoal</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Em um cenário altamente competitivo que vivemos, a boa gestão de
pessoas, através do departamento pessoal, é essencial e torna-se um fator
chave no sucesso de qualquer empresa.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso, procuramos dar um enfoque prático
dos processos que envolvem a contratação e manutenção
do funcionário, com explicação das rotinas
de contratação e folha de pagamento. O aluno
terá a condição-base para se desenvolver dentro
dessa área tão importante no contexto da organização.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Introdução de departamento pessoal
                            <br>
                                                          <br>
&#9679; CLT – consolidação das leis do trabalho
                            <br>
                                                          <br>
&#9679; eSocial e carteira de trabalho digital
                            <br>
                                                          <br>
&#9679; Constituição federal e PIS/PASEP
                            <br>
                                                          <br>
&#9679; Imposto: FGTS, INSS, IRRF
                            <br>
                                                          <br>
&#9679; Admissão
                            <br>
                                                          <br>
&#9679; Contrato de trabalho
                            <br>
                                                          <br>
&#9679; Estágio, menor/ jovem aprendiz, empregada doméstica e cooperativas de trabalho
                            <br>
                                                          <br>
&#9679; Trabalho temporário
                            <br>
                                                          <br>
&#9679; Jornada de trabalho – horas trabalhadas
                            <br>
                                                          <br>
&#9679; Jornada de trabalho – período de descanso
                            <br>
                                                          <br>
&#9679; Férias
                            <br>
                                                          <br>
&#9679; 13º salário, salário mínimo e salário família
                            <br>
                                                          <br>
&#9679; Auxílio-maternidade ou salário-maternidade e licença paternidade
                            <br>
                                                          <br>
&#9679; Demissão: aviso prévio e dispensa por justa causa
                            <br>
                                                          <br>
&#9679; Seguro desemprego e exames médicos
                            <br>
                                                          <br>
&#9679; Terceirização e autônomo
                            <br>
                                                          <br>
&#9679; Subordinado: empregado, folha de pagamento: mensalista, horista, horas extras
                            <br>
                                                          <br>
&#9679; Adiantamento, faltas e atrasos, tolerância
                            <br>
                                                          <br>
&#9679; Adicional noturno, adicional de insalubridade e adicional de periculosidade
                            <br>
                                                          <br>
&#9679; Vale transporte, vale refeição/ alimentação, cesta básica
                            <br>
                                                          <br>
&#9679; Compensação de horas, DSR, pensão alimentícia
                            <br>
                                                          <br>
&#9679; Comissão/gratificação/ bonificação, seguro de vida
                            <br>
                                                          <br>
&#9679; Assistência médica, PLR e convenção coletiva
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>