{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Desenvolvimento Web</title>{% endblock title %}

                        {% block ul %}

                        <li><a href="/#top">Home</a></li>
                        <li><a href="/#featured">Nossos Cursos</a></li>
                        <li><a href="/#projects">Sobre Nós</a></li>
                        <li><a href="/#contact">Contato</a></li>

                        {% endblock ul %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Desenvolvimento Web</em></h1>
                    <h3><em>Cursos disponíveis na área:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'css3' %}">CSS3</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'html5' %}">HTML5</a>
                        <br>
                        <br>
                    </h3>
                </div>

                            <div class="image">
                                <img src="{% static 'img/dev_games.png' %}" alt="" width="50%">
                            </div>

            </section>


<br>
    <br>
    <br>

{% endblock body %}
</div>