{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Desenvolvimento<br><em>Web</em></h1>
                    <h3><em>Cursos disponíveis na área:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'html5' %}">HTML5</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'css3' %}">CSS3</a>
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>