{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Modelagem 3D</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Design de peças mecânicas e arquitetura</em></h1>
                    <h3><em>Cursos disponíveis na área:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_3dcivil' %}">AutoCAD - 3D Civil</a>

                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_base' %}">AutoCAD - Base</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_mecanica_base' %}">AutoCAD - Mecânica Base</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_projeto_civil' %}">AutoCAD - Projeto Civil</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'revit_base' %}">Revit - Base</a>
                                                                        <br>
                        <br>
                        &#9655; <a href="{% url 'sketchup' %}">SketchUp</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'solidworks' %}">SolidWorks</a>
                                                <br>
                        <br>
                    </h3>
                </div>

                            <div class="image">
                                <img src="{% static 'img/design_mecanico.png' %}" alt="" width="50%">
                            </div>

            </section>
    <br>
    <br>
{% endblock body %}
</div>