{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}


        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Designer Gráfico<br><em>I e II</em></h1>
                    <br>
                    <br>
                    <h2>Designer Gráfico I</h2>
                    <h3><em>Público alvo:</em> Usuários iniciantes que procuram um curso introdutório na área de design gráfico.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 72 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 9 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; CorelDRAW (20 horas)
                        <br>
                        <br>
                        &#9655; Photoshop (24 horas)
                        <br>
                        <br>
                        &#9655; Photoshop para Fotografia (24 horas)
                        <br>
                        <br>

                    </h3>


                    <br>
                    <br>
                    <h2>Designer Gráfico II</h2>
                    <h3><em>Público alvo:</em> Usuários que procuram um curso completo na área de design gráfico. Além de ter a formação em
                        programas para artes finais, o aluno terá conhecimento para que possa trabalhar com editoração de
                        jornais/revistas/documentos.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 120 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 15 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Designer Gráfico I (72 horas)
                        <br>
                        <br>
                        &#9655; Illustrator (24 horas)
                        <br>
                        <br>
                        &#9655; InDesign (24 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>



{% endblock body %}