{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Design Gráfico e Games</em></h1>
                    <h3><em>Cursos disponíveis na área:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url '3dsmax' %}">3DS Max</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'after_effects' %}">After Effects</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'corel_draw' %}">CorelDRAW</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'express' %}">Express</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'illustrator' %}">Illustrator</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'indesign' %}">InDesign</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'photoshop' %}">Photoshop</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'photoshop_fotografia' %}">Photoshop para Fotografia</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'premiere_pro' %}">Premiere Pro</a>
                                                <br>
                        <br>
                        &#9655; <a href="{% url 'construct' %}">Construct 3</a>
                                                <br>
                        <br>
                        &#9655;  <a href="{% url 'edicao_youtube' %}">Edição para YouTube</a>
                                                <br>
                        <br>

                    </h3>
                </div>

            </section>

{% endblock body %}
</div>