{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Desenvolvedor<br><em>Front-End</em></h1>
                    <h3><em>Público alvo:</em> Usuários que precisam da base para se tornar um desenvolvedor web. O pacote aborda as principais
                        ferramentas para essa função, desde a elaboração de elementos gráficos como: botões, efeitos,
                        tratamento de imagens para a Web e até a construção da estrutura dos sites.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 64 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 8 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Photoshop (24 horas)
                        <br>
                        <br>
                        &#9655; HTML5 (24 horas)
                        <br>
                        <br>
                        &#9655; CSS (16 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>