{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Desenvolvedor de<br><em>Jogos (HTML5)</em></h1>
                    <h3><em>Público alvo:</em> Usuários que desejam ingressar na área de desenvolvimento de jogos, uma área promissora que cresce
                        a cada dia. Nesse pacote, desde o início do curso, o aluno aprenderá desenvolvendo diversos jogos
                        e ainda irá aprender uma ferramenta importante para a elaboração e edição de gráficos para serem
                        utilizados nos jogos, com isso, terá toda a base inicial necessária a um desenvolvedor de games.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 54 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 7 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Photoshop (24 horas)
                        <br>
                        <br>
                        &#9655; Construct 3 (30 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}