{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Digitação</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Digitação</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> A digitação é algo constante na vida de quem trabalha ou utiliza
computadores, sendo assim, é interessante saber a forma correta de
digitação.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este curso tem como objetivo desenvolver a agilidade
e a velocidade de digitação do aluno, ensinando
a digitação na prática, presando pelo posicionamento
correto dos dedos e pela precisão dos
toques.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Introdução ao teclado
                                                          <br>
                                                          <br>
&#9679; Posicionamento da mão esquerda
                                                          <br>
                                                          <br>
&#9679; Posicionamento da mão direita
                                                          <br>
                                                          <br>
&#9679; Revisão das teclas de guia
                                                          <br>
                                                          <br>
&#9679; As posições das teclas alfabéticas
                                                          <br>
                                                          <br>
&#9679; As posições das teclas numéricas
                                                          <br>
                                                          <br>
&#9679; Formando palavras
                                                          <br>
                                                          <br>
&#9679; Letras maiúsculas
                                                          <br>
                                                          <br>
&#9679; Acentuação
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>