{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Edição para YouTube</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Youtube é uma plataforma para compartilhamento de vídeos acessada
no mundo todo, graças a difusão desta plataforma, uma nova profissão
surgiu com o passar do tempo, ela é chamada de “Youtuber”, planejamos
esse curso para ajudarmos os alunos a iniciarem a jornada nessa profissão.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O objetivo deste curso é ensinar o aluno o básico,
o necessário para que ele grave e edite os próprios
vídeos, dando início ao seu próprio canal no youtube.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                            <br>
                            <br>
                            <em>Versões:</em> Premiere, After Effects e Photoshop 2018
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Introdução aos programas e ao youtube
                                                          <br>
                                                          <br>
&#9679; Edição básica no Premiere
                                                          <br>
                                                          <br>
&#9679; Criação de efeitos e ajustes no Premiere
                                                          <br>
                                                          <br>
&#9679; Criação de aberturas e encerramentos com o After Effects
                                                          <br>
                                                          <br>
&#9679; Criação de legendas com o After Effects
                                                          <br>
                                                          <br>
&#9679; Utilização básica do Photoshop
                                                          <br>
                                                          <br>
&#9679; Criação de thumbs com o Photoshop
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>