{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Editor de Vídeos</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Editor de Vídeos</em></h1>
                    <h3><em>Público alvo:</em>
                        Usuários que procuram um curso para iniciar seu trabalho na área de produção audiovisual.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 72 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 9 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'after_effects' %}">After Effects (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'photoshop' %}">Photoshop (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'premiere_pro' %}">Premiere Pro (24 horas)</a>
                        <br>
                        <br>

                    </h3>
                </div>

            </section>

{% endblock body %}
</div>