{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Emprego 2.0</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Esta palestra mostra como conquistar um emprego e crescer na carreira,
abordando todas as etapas do processo de busca por um novo emprego.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Apresentar ao aluno todas as etapas existentes
durante a procura de um novo emprego, focando
nos novos modelos de recrutamento e como se
portar durante este processo.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 2 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Palestrante:</em> Marcelo Simonato
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; O mercado de trabalho
                            <br>
                                                          <br>
&#9679; Empregabilidade
                            <br>
                                                          <br>
&#9679; Processos de recrutamento
                            <br>
                                                          <br>
&#9679; Planejamento
                            <br>
                                                          <br>
&#9679; Currículo
                            <br>
                                                          <br>
&#9679; Entrevista
                            <br>
                                                          <br>
&#9679; Proposta de trabalho
                            <br>
                                                          <br>
&#9679; Início no novo emprego
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>