{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Empreendedorismo</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Empreendedorismo</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Empreender é saber identificar oportunidades e transformá-las em um
negócio lucrativo. Quando um empreendedor percebe uma necessidade
dos consumidores, ele consegue criar uma maneira de resolver o problema,
oferecendo um produto ou serviço que dê uma experiência de mais
qualidade ao cliente (agrega valor).</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O aluno será capaz de compreender os conceitos
relativos ao Empreendedorismo; identificar oportunidades
de negócios e desenvolver seu potencial
visionário.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>
&#9679; Introdução ao empreendedorismo
                                                          <br>
<br>
&#9679; Principais tipos de empreendedorismo
                                                          <br>
<br>
&#9679; Características do empreendedor
                                                          <br>
<br>
&#9679; Pesquisa de mercado
                                                          <br>
<br>
&#9679; Planejando para o sucesso
                                                          <br>
<br>
&#9679; Plano de negócios
                                                          <br>
<br>
&#9679; Identificando uma oportunidade de negócio
                                                          <br>
<br>
&#9679; Passos para abertura de uma empresa
                                                          <br>
<br>
&#9679; Motivação ao empreendedor
                                                          <br>
<br>
&#9679; Ferramentas úteis para o empreendedor
                                                          <br>
<br>
&#9679; Marketing no empreendedorismo
                                                          <br>
<br>
&#9679; Gestão estratégica
                                                          <br>
<br>
&#9679; Liderança
                                                          <br>
<br>
&#9679; Controle financeiro
                                                          <br>
<br>
&#9679; Negociação
                                                          <br>
<br>
Como vender seu produto
                                                          <br>
<br>
&#9679; Empreendedorismo 4.0
                                                          <br>
<br>
&#9679; A internet e o empreendedorismo
                                                          <br>
<br>
&#9679; Assessoria para o negócio
                                                          <br>
<br>
&#9679; Empreendedorismo no Brasil
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>