{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Excel<br><em>Total</em></h1>
                    <h3><em>Público alvo:</em>
                        Usuários que já utilizam o computador e desejam fazer um curso completo focado no aprendizado e
                        no aprimoramento do uso do Excel.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 64 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 8 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Excel (24 horas)
                        <br>
                        <br>
                        &#9655; Excel Avançado (24 horas)
                        <br>
                        <br>
                        &#9655; Excel Dashboard (16 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>