{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Excel - Dashboard</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Excel - Dashboard</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Excel é um programa de elaboração de planilhas, devido a sua flexibilidade
é utilizado em várias aplicações como planilhas administrativas, comerciais,
controle de estoques, entre outras, disponibilizando dados que servem
para tomadas de decisões.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Fazer com o que o aluno que já utiliza o Excel possa
se aprofundar em sua utilização, aprendendo
recursos avançados que irão possibilitar o controle
de dados através da elaboração de planilhas mais
complexas.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 16 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> 365 (Compatível com 2019) e 2016
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
                            &#9679; Ferramenta letreiro
                            <br>
                                                        <br>

&#9679; Criar um modelo de dados
                            <br>
                                                        <br>
&#9679; Selecionar os dados
                            <br>
                                                        <br>
&#9679; Usar KPIs
                            <br>
                                                        <br>
&#9679; Criar um dashboard completo
                            <br>
                                                        <br>
&#9679; Usar minigráficos
                            <br>
                                                        <br>
&#9679; Gráfico de termômetro
                            <br>
                                                        <br>
&#9679; Usar botões de opção e macro
                            <br>
                                                        <br>
&#9679; Usar caixas de combinação
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>