{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Express</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Express</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O curso de Express foi desenvolvido para o aluno que tem mais pressa
                    para aprender a utilizar o Windows, Word e Excel. Ele reune o que tem de
                    essencial para a boa utilização desses programas.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O aluno aprenderá a utilizar os principais recursos
                    do Windows, depois irá desenvolver textos no
                    Word e por fim conhecer e aplicar os conhecimentos
                    na elaboração de planilhas do Excel, fechando
                    dessa forma o ciclo inicial básico para uso do
                    computador. Um curso para o aluno que tem mais
                    pressa e precisa aprender apenas o essencial de
                    cada uma dessas ferramentas.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a Informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                                                    <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> Windows 10 com Office 365
                            <br>
                        Windows 10 com Office 2016
                            <br>
                        Windows 8 com Office 2013
                            <br>
                            <br>
                    <i>*Apenas a versão Windows 10 com Office 365 está disponível no EAD.</i>
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Windows: Conhecendo o Windows
                                                        <br>
                                                        <br>
&#9679; Conhecendo o explorador de arquivos
                                                        <br>
                                                        <br>
&#9679; Utilizar o painel de controle do Windows
                                                        <br>
                                                        <br>
&#9679; Personalizar o Windows
                                                        <br>
                                                        <br>
&#9679; Utilizar ferramentas de disco
                                                        <br>
                                                        <br>
&#9679; Word: Conhecendo o Word
                                                        <br>
                                                        <br>
&#9679; Selecionar e formatar textos
                                                        <br>
                                                        <br>
&#9679; Configurar espaçamentos
                                                        <br>
                                                        <br>
&#9679; Efetuar correções
                                                        <br>
                                                        <br>
&#9679; Utilizar marcadores e tabulações
                                                        <br>
                                                        <br>
&#9679; Ajustar o cabeçalho e o rodapé
                                                        <br>
                                                        <br>
&#9679; Criar e formatar tabelas
                                                        <br>
                                                        <br>
&#9679; Configurações da página
                                                        <br>
                                                        <br>
&#9679; Utilizar imagens
                                                        <br>
                                                        <br>
&#9679; Excel: Conhecendo o Excel
                                                        <br>
                                                        <br>
&#9679; Conhecer fórmulas básicas
                                                        <br>
                                                        <br>
&#9679; Porcentagem e outras funções
                                                        <br>
                                                        <br>
&#9679; Gerenciar várias planilhas
                                                        <br>
                                                        <br>
&#9679; Função cont.se e manipulação de planilhas
                                                        <br>
                                                        <br>
&#9679; Utilizar gráficos
                                                        <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>