{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Gestão da Qualidade</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Gestão da Qualidade</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> A gestão da qualidade total refere-se a uma estratégia de administração
orientada a criar consciência da qualidade em todos os processos
organizacionais.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este treinamento procura capacitar o aluno a identificar
os principais fatores influentes na gestão da
qualidade de produtos e serviços, num ambiente
empresarial voltado para a excelência.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução à informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Aspectos básicos da gestão da qualidade
                                                          <br>
<br>
&#9679; Referenciais da gestão da qualidade
                                                          <br>
<br>
&#9679; Agentes de gestão da qualidade
                                                          <br>
<br>
&#9679; Perspectiva histórica e evolução da gestão da qualidade
                                                          <br>
<br>
&#9679; Teóricos da qualidade
                                                          <br>
<br>
&#9679; Os benefícios da gestão da qualidade para as empresas
                                                          <br>
<br>
&#9679; Cartas de controle
                                                          <br>
<br>
&#9679; Histograma
                                                          <br>
<br>
&#9679; Ferramentas da qualidade: diagrama de Pareto
                                                          <br>
<br>
&#9679; Diagrama de Ishikawa
                                                          <br>
<br>
&#9679; Fluxograma
                                                          <br>
<br>
&#9679; Diagrama de dispersão
                                                          <br>
<br>
&#9679; Folha de verificação ou checklist
                                                          <br>
<br>
&#9679; Kanban e Kaizen
                                                          <br>
<br>
&#9679; QFD, FMEA e FTA
                                                          <br>
<br>
&#9679; Programa 5s
                                                          <br>
<br>
&#9679; PDCA
                                                          <br>
<br>
&#9679; MASP
                                                          <br>
<br>
&#9679; 5W2H
                                                          <br>
<br>
&#9679; Seis sigma e matriz GUT
                                                          <br>
<br>
&#9679; Benchmarking e brainstorming
                                                          <br>
<br>
&#9679; Norma ISO 9001 e o SGQ
                                                          <br>
<br>
&#9679; Norma ISO 14001 e o SGA
                                                          <br>
<br>
&#9679; Gestão para a excelência e o MEG
                                                          <br>
<br>
&#9679; PNQ (Prêmio Nacional da Qualidade)

                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>