{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#featured">Nossos Cursos</a></li>
                        <li><a href="#projects">Sobre Nós</a></li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" width = "85%" />
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Nossos Cursos
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Sobre Nós
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Contato
                        </a>
                    </li>
                </ul>
            </nav>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/novabasecursos" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="https://www.twitter.com/novabasecursos" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/novabasecursos" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Cursos presenciais ou EAD<br>
                          	Temos o melhor pacote para você!</p>
                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Monitoria presencial e online
                              <br>
                              <br>
                          </p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Informática, idiomas, vendas,
                            <br>marketing, design e muito mais!</p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Nossos<br><em>Cursos</em></h1>
                    <p>Na NOVA Base Cursos é possível escolher
                    <br>entre as modalidades presencial ou online.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/autocad_total.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'autocad' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>AutoCAD Total</h4>
                                <span>Design de peças mecânicas, arquitetura e projeto civil</span>
                                <p>Usuários que desejam se tornar um cadista, que é o profissional que trabalha com a ferramenta CAD,
                                 podendo trabalhar em diversas empresas que precisam desse profissional para desenvolver seus
                                 projetos, como: engenharia, arquitetura, indústrias, etc.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Desenvolvedor de Jogos</h4>
                                <span>Games</span>
                                <p>Usuários que desejam ingressar na área de desenvolvimento de jogos, uma área promissora que cresce
                                    a cada dia. Nesse pacote, desde o início do curso, o aluno aprenderá desenvolvendo diversos jogos
                                    e ainda irá aprender uma ferramenta importante para a elaboração e edição de gráficos para serem
                                    utilizados nos jogos, com isso, terá toda a base inicial necessária a um desenvolvedor de games.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/design_grafico.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Designer Gráfico I</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que procuram um curso completo na área de design gráfico. Além de ter a formação em
                                programas para artes finais, o aluno terá conhecimento para que possa trabalhar com editoração de
                                jornais/revistas/documentos.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/designer_grafico_II.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Designer Gráfico II</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que procuram um curso completo na área de design gráfico. Além de ter a formação em
                                programas para artes finais, o aluno terá conhecimento para que possa trabalhar com editoração de
                                jornais/revistas/documentos.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/editor_videos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Editor de Vídeos</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que procuram um curso para iniciar seu trabalho na área de produção audiovisual.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/empreendedor_digital.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Empreendedor Digital</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que desejam compreender os conceitos relativos ao Empreendedorismo; identificar oportunidades
                                de negócios digitais e desenvolver visionário seu potencial para vendas e marketing.</p>

                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/emprego_ja.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Emprego Já!</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que buscam conhecer as etapas existentes
                                    durante a procura de um novo emprego, focando
                                    nos novos modelos de recrutamento e como se
                                    portar durante este processo. Técnicas de oratório e marketing pessoal.
                                Montagem de currículos.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/excel_total.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Excel Total</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que já utilizam o computador e desejam fazer um
                                    curso completo focado no aprendizado e
                                no aprimoramento do uso do Excel.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/ingles.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Inglês</h4>
                                <span>"O Cara do Inglês"</span>
                                <p>Usuários que desejam dominar um novo idioma.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/operador_computador_I.jpg' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Operador de Computador I</h4>
                                <span>Profissionalizante</span>
                                <p>A usuários iniciantes que desejam aprender a utilizar o computador e os programas essenciais utilizados
                                no mercado, em um tempo mais rápido.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/operador_computador_II.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Operador de Computador II</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários iniciantes que desejam aprender a utilizar o computador, além dos programas essenciais
                                 (Windows, Word, Excel), o pacote inclui o PowerPoint para que o aluno aprenda realizar apresentações
                                 de trabalhos escolares ou trabalhos na empresa que trabalha. Além disso, terá um curso completo de
                                    Internet e também um curso para orientação de como o aluno vai montar o seu curriculum.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/profissional_capacitado_VIP.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Profissional Capacitado VIP</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários focados em aprender sobre rotinas administrativas e outras
                                ferramentas essenciais para o mercado de trabalho.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/projetista_completo.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Projetista Completo</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que desejam dominar além do AutoCAD, entrando em contato com ferramentas de desenho
                                que utilizam novas tecnologias.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/rotinas_administrativas.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Rotinas Administrativas</h4>
                                <span>Profissionalizante</span>
                                <p>A usuários que desejam estar mais preparados para o mercado de trabalho, pois, é importante que se
                                tenha um conhecimento administrativo amplo da empresa. Esse curso prepara o aluno para entender
                                toda a área administrativa e também desenvolve algumas habilidades importantes, como técnicas de
                                redação e telemarketing. Essas habilidades, junto com o conhecimento administrativo, farão com que
                                o aluno torne-se um profissional muito mais completo.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/web_design_grafico.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="#projects">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Web Design Básico</h4>
                                <span>Profissionalizante</span>
                                <p>Usuários que desejam dominar técnicas de design para desenvolvimento web.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Sobre<br><em>Nós</em></h1>
                    <h3><em>Missão, Visão e Valores.</em>
                    </h3>
                </div>
                <div class="section-heading">
                    <h3>

                        &#9654; Nossa <em>missão</em>: Oferecer qualificação inovadora e com qualidade, ajudando assim, a transformar positivamente a vida dos nossos alunos.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossa <em>visão</em>: Ser uma nova base educacional de referência e inovadora no ensino profissional em Campos dos Goytacazes e todo Brasil através de nossos cursos EAD e presenciais.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossos <em>valores</em>: Ética, respeito, profissionalismo, responsabilidade e cordialidade.

                    </h3>


                </div>
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Mais sobre <em>nossos cursos</em></h1>
                            <p>Neste vídeo são apresentados nossos principais cursos.</p>
                        </div>
                        <div class="text-content">
                            <p>Idiomas, vendas, marketing, informática, programação.</p>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                                <div class="bt-play">Play</div>
                            </div>
                            <div class="video-container">
                                <iframe src="https://player.vimeo.com/video/515360916" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


{% endblock body %}
