{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

        </header>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Cursos presenciais ou EAD<br>
                          	Temos o melhor pacote para você!</p>
                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Monitoria presencial e online
                              <br>
                              <br>
                          </p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>NOVA Base<br>Cursos</h1>
                          <p>Informática, idiomas, vendas,
                            <br>marketing, design e muito mais!</p>

                          <div class="white-button button">
                              <a href="#featured">Saiba Mais</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Nossos<br><em>Cursos</em></h1>
                    <p>Na NOVA Base Cursos é possível escolher
                    <br>entre as modalidades presencial ou online.</p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/autocad_total.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'desenvolvimento_web' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Desenvolvimento Web</h4>
                                <span>Construção de Web Sites</span>
                                <p>Cursos para construção e personalização de páginas web.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'design_mecanico' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Design de peças mecânicas e arquitetura</h4>
                                <span>Desenho de peças mecânicas, arquitetura e projeto civil</span>
                                <p>Cursos voltados para o design de peças mecânicas, plantas, arquitetura, projeto civil e muito mais.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'design_grafico' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Design Gráfico e Games</h4>
                                <span>Edição de imagens, vídeos e produção de games</span>
                                <p>Cursos direcionados para quem deseja trabalhar com edição de imagem, vídeos e desenvolvimento de games.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'informatica' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Informática</h4>
                                <span>Aprenda a utilizar as principais ferramentas da informática</span>
                                <p>Cursos para quem deseja aprender mais sobre Internet, Sistemas Operacionais, Programação e muito mais!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'marketing' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Marketing</h4>
                                <span>Marketing Digital e Pessoal</span>
                                <p>Cursos voltados para quem deseja trabalhar com Marketing Digital ou
                                    aprimorar seu próprio Marketing Pessoal</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'pacote_office' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Pacote Office</h4>
                                <span>Access, Excel, PowerPoint, Word</span>
                                <p>Cursos para usuários que desejam dominar o Pacote Office e realizar trabalhos e apresentações
                                incríveis!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'profissionais' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Profissionalizante</h4>
                                <span>Administração, Secretariado, Logística e muito mais</span>
                                <p>Cursos voltados para o mercado de trabalho com especialização em áreas diversas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="{% static 'img/desenvolvedor_jogos.PNG' %}" alt="">
                                <div class="featured-button button">
                                    <a href="{% url 'pacotes' %}" target="_blank">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Pacotes Especiais</h4>
                                <span>Pacote de cursos personalizados para potencializar sua formação!</span>
                                <p>Usuários que desejam aprimorar sua formação em uma área específica podem
                                obter pacotes completos de cursos na área desejada.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Sobre<br><em>Nós</em></h1>
                    <h3><em>Missão, Visão e Valores.</em>
                    </h3>
                </div>
                <div class="section-heading">
                    <h3>

                        &#9654; Nossa <em>missão</em>: Oferecer qualificação inovadora e com qualidade, ajudando assim, a transformar positivamente a vida dos nossos alunos.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossa <em>visão</em>: Ser uma nova base educacional de referência e inovadora no ensino profissional em Campos dos Goytacazes e todo Brasil através de nossos cursos EAD e presenciais.
                        <br>
                        <br>
                        <br>
                        &#9654; Nossos <em>valores</em>: Ética, respeito, profissionalismo, responsabilidade e cordialidade.

                    </h3>


                </div>
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Mais sobre <em>nossos pacotes</em></h1>
                            <p>Na NOVA Base Cursos é possível realizar cursos individuais ou selecionar pacotes para aprimorar sua formação.</p>
                        </div>
                        <div class="text-content">
                            <p>Inglês, marketing, informática, programação, design e muito mais!</p>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="box-video">

                                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/515360916" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                        </div>
                    </div>
                </div>
            </section>


{% endblock body %}
