{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>HTML5 </em><i>(Hypertext Markup Language)</i></h1>
                    <br>
                    <br>
                     <img src="{% static 'img/html1.jpg' %}" width = "50%" />
                    <br>
                    <br>
                    <h4><em>Descrição:</em> O HTML é a linguagem base da internet, o HTML5 é a quinta versão da
                    linguagem. Esta nova versão traz consigo importantes mudanças quanto
                    ao papel do HTML no mundo da Web, através de novas funcionalidades
                    como semântica e acessibilidade.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Preparar o aluno iniciante na utilização da
                        linguagem HTML. Como a utilização da internet
                        cresce a cada dia, o aprendizado de HTML é
                        essencial para o aluno ingressar no mercado
                        altamente promissor de desenvolvimento web.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> HTML5
                        <br>
                        <br>
                        <em>Categoria:</em> Web Design
                        <br>
                        <br>

                            <br>
                            <br>
                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                             &#9679; Introdução ao HTML
                             <br>
                            <br>
                             &#9679; HTML e suas tags
                                                          <br>
                              <br>
                             &#9679; Atributos e a tag <i>style</i>
                                                           <br>
                              <br>
                             &#9679; Formulários HTML
                                                           <br>
                              <br>
                             &#9679; HTML5 Shiv
                                                           <br>
                              <br>
                             &#9679; HTML Multimídia
                                                           <br>
                              <br>

                    </h4>
                </div>

            </section>

{% endblock body %}
</div>