{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Illustrator</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Illustrator é um editor de imagens vetoriais desenvolvido e comercializado
pela Adobe Systems. Foi criado inicialmente para o Apple Macintosh em
1985 como complemento comercial de software de fontes da Adobe e da
tecnologia PostScript desenvolvida pela empresa.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Ensinar ao aluno o básico do Illustrator, com
conceitos de uso das principais ferramentas de
desenho, preenchimento e uso de bibliotecas,
fornecendo condições para o contínuo
desenvolvimento do aluno.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <em>Versões:</em> Illustrator CC 2015
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Trabalhar com preenchimento
                                                        <br>
                                                        <br>
&#9679; Trabalhar com texto
                                                        <br>
                                                        <br>
&#9679; Trabalhar com vetores
                                                        <br>
                                                        <br>
&#9679; Interação entre objetos vetoriais
                                                        <br>
                                                        <br>
&#9679; Trabalhar com camadas
                                                        <br>
                                                        <br>
&#9679; Vetorizar
                                                        <br>
                                                        <br>
&#9679; Utilizar a ferramenta “Caneta”
                                                        <br>
                                                        <br>
&#9679; Utilizar símbolos
                                                        <br>
                                                        <br>
&#9679; Aplicar estilos gráficos e utilizar pincéis
                                                        <br>
                                                        <br>
&#9679; Utilizar a ferramenta “Malha”
                                                        <br>
                                                        <br>
&#9679; Utilizar a ferramenta de perspectiva
                                                        <br>
                                                        <br>
&#9679; Preparar arquivos para impressão
                                                        <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>