{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>InDesign</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O programa inDesign fornece controle preciso sobre a tipografia e
ferramentas de criação incorporadas para desenvolver, visualizar e
processar documentos para impressão, para a Web ou para dispositivos
móveis. Inclua interatividade, animação, áudio e vídeo em layouts de
página para envolver totalmente os leitores.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este curso aborda os recursos mais importantes
do InDesign, passando pela importação e ajustes
de textos, montagens de layouts em diversos
tamanhos de papéis, diagramação de jornais,
diagramação de livros, e também a exportação
do trabalho para o formato digital.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <em>Versões:</em> InDesign CC 2015
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Trabalhar com objetos
                                                          <br>
                                                          <br>
&#9679; Textos
                                                          <br>
                                                          <br>
&#9679; Imagens
                                                          <br>
                                                          <br>
&#9679; Tabelas e estilos
                                                          <br>
                                                          <br>
&#9679; Página-mestre
                                                          <br>
                                                          <br>
&#9679; Biblioteca
                                                          <br>
                                                          <br>
&#9679; Sumário
                                                          <br>
                                                          <br>
&#9679; Projeto jornal
                                                          <br>
                                                          <br>
&#9679; Finalizar arquivos
                                                          <br>
                                                          <br>
&#9679; Projeto: A criação de um tabloide
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>