{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Informática</em> Kids</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> As crianças têm muita facilidade com a tecnologia e cada vez tem acesso
ao computador, seja para jogar, acessar a internet, desenhar, entre outras.
Esse acesso a utilização é importante, mas não é o bastante.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso Kids é indicado para crianças de 8 a 11 anos
e visa aproveitar a facilidade dela com a tecnologia
e começar a direcionar o uso em programas profissionais,
através de uma linguagem voltada para
eles e uma didática diferenciada de aprendizado.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Saber ler e escrever
                        <br>
                        <br>
                        <em>Carga horária:</em> 48 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD*
                            <br>
                            <br>
                            <em>Versões:</em> Windows 10 com Office 365
                            <br>
Windows 10 com Office 2016
                            <br>
Windows 8 com Office 2013
                            <br>
Windows 7 com Office 2010
                            <br>
                            <br>
                            <i>*Apenas a versão Windows 10 com Office 365 está disponível no EAD.</i>
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Conhecer o Windows
                                                          <br>
                                                          <br>
&#9679; Abrir e controlar janelas de programas
                                                          <br>
                                                          <br>
&#9679; Utilizar o visualizador de imagens
                                                          <br>
                                                          <br>
&#9679; Utilizar o explorador de arquivos
                                                          <br>
                                                          <br>
&#9679; Selecionar arquivos com mouse e teclado
                                                          <br>
                                                          <br>
&#9679; Configurações do mouse
                                                          <br>
                                                          <br>
&#9679; Personalizar o windows
                                                          <br>
                                                          <br>
&#9679; Digitar textos no Word
                                                          <br>
                                                          <br>
&#9679; Criar, salvar e fechar documentos
                                                          <br>
                                                          <br>
&#9679; Acentuar palavras
                                                          <br>
                                                          <br>
&#9679; Alterar a aparência do texto
                                                          <br>
                                                          <br>
&#9679; Criar listas e WordArts
                                                          <br>
                                                          <br>
&#9679; Imprimir documentos
                                                          <br>
                                                          <br>
&#9679; Criar apresentações com o PowerPoint
                                                          <br>
                                                          <br>
&#9679; Aprender o que são e para que servem os slides
                                                          <br>
                                                          <br>
&#9679; Alterar a aparência do texto dos seus slides
                                                          <br>
                                                          <br>
&#9679; Aplicar efeitos, animações e transições aos slides
                                                          <br>
                                                          <br>
&#9679; Salvar a apresentação
                                                          <br>
                                                          <br>
&#9679; Criar pastas de trabalho e planilhas com o Excel
                                                          <br>
                                                          <br>
&#9679; Utilizar fórmulas básicas (soma, subtração,
multiplicação e divisão)
                                                          <br>
                                                          <br>
&#9679; Ajustar a aparência da planilha
                                                          <br>
                                                          <br>
&#9679; Criar uma publicação com o Publisher
                                                          <br>
                                                          <br>
&#9679; Salvar a publicação em PDF
                                                          <br>
                                                          <br>
&#9679; Navegar na internet com o Google Chrome
                                                          <br>
                                                          <br>
&#9679; Fazer pesquisas na Wikipedia
                                                          <br>
                                                          <br>
&#9679; Utilizar o Youtube
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>