{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Informática para Adultos</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Informática para Adultos</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Curso voltado para o público adulto e terceira idade para aprender a utilizar
o computador e seus recursos básicos, além de uma abordagem ampla no
uso da internet.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Iniciar o aluno adulto na utilização do computador,
através de uma linguagem simplificada e objetiva
o aluno irá praticar os principais programas e irá
se aprofundar na utilização das ferramentas da internet.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 30 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD*
                            <br>
                            <br>
                            <em>Versões:</em> Windows 10 com Office 365
                            <br>
Windows 10 com Office 2016
                            <br>
Windows 8 com Office 2013
                            <br>
Windows 7 com Office 2010
                            <br>
                            <br>
                            <i>*Apenas a versão Windows 10 com Office 365 está disponível no EAD.</i>
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Navegar na internet
                            <br>
                                                        <br>
&#9679; Fazer pesquisas no Google
                            <br>
                                                        <br>
&#9679; Assistir vídeos no YouTube
                            <br>
                                                        <br>
&#9679; Conferir a previsão do tempo
                            <br>
                                                        <br>
&#9679; Criar um email (Gmail)
                            <br>
                                                        <br>
&#9679; Aprenderá a enviar e receber emails
                            <br>
                                                        <br>
&#9679; Criar um perfil no Facebook
                            <br>
                                                        <br>
&#9679; Personalizar seu perfil
                            <br>
                                                        <br>
&#9679; Procurar, adicionar amigos e aceitar solicitações
                            <br>
                                                        <br>
&#9679; Enviar e receber mensagens privadas
                            <br>
                                                        <br>
&#9679; Criar álbuns de fotos
                            <br>
                                                        <br>
&#9679; Utilizar o Word para digitar textos
                            <br>
                                                        <br>
&#9679; Alterar a aparência do seu texto
                            <br>
                                                        <br>
&#9679; Inserir imagens nos documentos criados
                            <br>
                                                        <br>
&#9679; Utilizar o Windows
                            <br>
                                                        <br>
&#9679; Abrir e fechar programas
                            <br>
                                                        <br>
&#9679; Visualizar fotos no computador
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>