{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Introdução à Inteligência <em>Artificial</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Inteligência artificial é a inteligência similar à humana exibida por
mecanismos ou software, além de também ser um campo de estudo
acadêmico.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso apresentamos o conceito de inteligência
artificial, passando pela evolução tecnológica e
desenvolvendo um chatbot simples com a linguagem Python.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Lógica de Programação
                        <br>
                        <br>
                        <em>Carga horária:</em> 6 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Diferentes tipos de inteligência

                            <br>
                                                        <br>
&#9679; Conceitos de inteligência artificial
                            <br>
                                                        <br>
&#9679; Desenvolvimento de chatbot com Python
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>