{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Internet</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Internet</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Amplamente utilizada, a internet aumentou muito o aprendizado e o acesso
as informações, seja através do acesso as páginas web e localizadores ou
na interação das pessoas pelas redes sociais.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso abordaremos recursos para navegar
na internet, utilizando o navegador Google Chrome.
Vamos explorar as opções de pesquisa e acesso a
páginas de conteúdos e também aprender a fazer
downloads.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 18 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Conhecendo o navegador
                                                          <br>
                                                          <br>
&#9679; Utilizando mecanismos de busca
                                                          <br>
                                                          <br>
&#9679; Pesquisar imagens
                                                          <br>
                                                          <br>
&#9679; Pesquisar de músicas
                                                          <br>
                                                          <br>
&#9679; Utilizar o YouTube
                                                          <br>
                                                          <br>
&#9679; Utilizar a Wikipedia (Enciclopédia Online)
                                                          <br>
                                                          <br>
&#9679; Procurar e localizar CEP
                                                          <br>
                                                          <br>
&#9679; Fazer downloads e salvar arquivos
                                                          <br>
                                                          <br>
&#9679; Criar um email do google
                                                          <br>
                                                          <br>
&#9679; Enviar e receber emails
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>