{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Inteligência Emocional</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Inteligência Emocional</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Inteligência emocional é um conceito em Psicologia que descreve a
capacidade de reconhecer e avaliar os seus próprios sentimentos e os dos
outros, assim como a capacidade de lidar com eles.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso abordamos alguns conceitos e fundamentos
da inteligência emocional, afim de mostrar
para o aluno como ele pode se comportar e agir
procurando sempre o bem-estar.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 6 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>


&#9679; Características Que Mais Incomodam
                                                          <br>
<br>
&#9679; Natureza Empresarial E Humana
                                                          <br>
<br>
&#9679; O Mundo em Mudança
                                                          <br>
<br>
&#9679; QI e QE
                                                          <br>
<br>
&#9679; Autoconhecimento E As Emoções
                                                          <br>
<br>
&#9679; Mindset – O Sistema De Crenças
                                                          <br>
<br>
&#9679; Como Desenvolver O Autocontrole
                                                          <br>
<br>
&#9679; 4 Tipos De Comportamento
                                                          <br>
<br>
&#9679; Como Desenvolver A Assertividade
                                                          <br>
<br>
&#9679; Automotivação E Superação
                                                          <br>
<br>
&#9679; Empatia e Simpatia
                                                          <br>
<br>
&#9679; Relações Pessoais E Sociabilidade
                            <br>
                            <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>