{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Liderança e <em>Gestão de Pessoas</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O mundo vem passando por diversas transformações que vem refletindo
diretamente no modo como as pessoas se comportam no trabalho e na
vida social. Dentro deste contexto o papel e o perfil do líder também vêm
se modificando.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este curso visa apresentar os principais conceitos,
técnicas e práticas da liderança e gestão de pessoas
de forma para serem aplicadas no dia-a-dia,
garantindo uma liderança eficaz e motivadora.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 4 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Palestrante:</em> Rogério Martins
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; A Importância e as mudanças na forma de liderar
                                                          <br>
<br>
&#9679; Características e atitudes de um líder
                                                          <br>
<br>
&#9679; Conceitos de liderança
                                                          <br>
<br>
&#9679; Os três pilares da liderança

                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>