{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Logística</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> A logística é a área da administração responsável por prover recursos,
equipamentos e informações para a execução de todas as atividades de
uma empresa.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este curso visa passar a noção de todos as partes
envolvidas na logística, desde o setor de compras,
de armazenagem, até a expedição.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Conceito E História Da Logística
                            <br>
                                                          <br>
&#9679; A Logística No Brasil
                            <br>
                                                          <br>
&#9679; A Logística E O Setor De Compras
                            <br>
                                                          <br>
&#9679; Cadeia De Suprimentos
                            <br>
                                                          <br>
&#9679; A Logística E O Recebimento De Mercadorias
                            <br>
                                                          <br>
&#9679; A Logística E A Armazenagem / Estoque
                            <br>
                                                          <br>
&#9679; A Logística E O Planejamento E Controle De Produção (PCP)
                            <br>
                                                          <br>
&#9679; A Logística E A Movimentação De Materiais
                            <br>
                                                          <br>
&#9679; Equipamento De Movimentação De Materiais
                            <br>
                                                          <br>
&#9679; Modais De Transporte
                            <br>
                                                          <br>
&#9679; Logística X Canais De Distribuição
                            <br>
                                                          <br>
&#9679; Embalagens Na Distribuição
                            <br>
                                                          <br>
&#9679; Cargas Unitizadas E Suas Funções
                            <br>
                                                          <br>
&#9679; Conhecimento De Carga
                            <br>
                                                          <br>
&#9679; Atacadista E Varejista
                            <br>
                                                          <br>
&#9679; Expedição De Materiais
                            <br>
                                                          <br>
&#9679; Logística Reversa
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>