{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Lógica de Programação</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Lógica de Programação</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Para o aluno que deseja se tornar programador, o curso de lógica é o primeiro
passo, pois, independente da linguagem a ser aprendida, será necessário
utilizar e dominar os conceitos básicos de lógica de programação.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso de Lógica de Programação irá preparar o
aluno para entender os princípios básicos de uma
linguagem de programação, para que tenha toda
a base necessária iniciar na área de programação.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Introdução à lógica de programação
                            <br>
                                                        <br>
&#9679; Escrever algoritmos
                            <br>
                                                        <br>
&#9679; Estruturas de decisão
                            <br>
                                                        <br>
&#9679; Operadores lógicos
                            <br>
                                                        <br>
&#9679; Estruturas de repetição
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>