{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Marketing Digital</em> para Iniciantes</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Marketing é uma área focada na geração de valor sobre o produto,
serviço ou sobre a própria marca de um negócio, tendo como objetivo
a conquista e a fidelização de clientes. Marketing Digital é a principal
forma de fazer e conceituar marketing nos dias de hoje.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O aluno será capaz de compreender os conceitos
relativos ao Marketing Digital, criar estratégias
e implementá-las a fim de impulsionar sua
carreira e seus negócios.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 10 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Introdução ao marketing
                                                          <br>
                                                          <br>
&#9679; Mix de marketing
                                                          <br>
                                                          <br>
&#9679; Introdução ao marketing digital
                                                          <br>
                                                          <br>
&#9679; Conceitos-chave do marketing digital
                                                          <br>
                                                          <br>
&#9679; Vantagens do marketing digital
                                                          <br>
                                                          <br>
&#9679; Estratégias do marketing digital
                                                          <br>
                                                          <br>
&#9679; Planejamento de marketing digital
                                                          <br>
                                                          <br>
&#9679; Ferramentas de marketing digital
                                                          <br>
                                                          <br>
&#9679; Inbound marketing
                                                          <br>
                                                          <br>
&#9679; Outbound marketing
                                                          <br>
                                                          <br>
&#9679; Website
                                                          <br>
                                                          <br>
&#9679; Marketing de conteúdo
                                                          <br>
                                                          <br>
&#9679; SEO
                                                          <br>
                                                          <br>
&#9679; E-mail marketing
                                                          <br>
                                                          <br>
&#9679; Marketing nas redes sociais
                                                          <br>
                                                          <br>
&#9679; Marketing de busca
                                                          <br>
                                                          <br>
&#9679; Publicidade em vídeo
                                                          <br>
                                                          <br>
&#9679; Áudio marketing e podcast
                                                          <br>
                                                          <br>
&#9679; Web Analytics
                                                          <br>
                                                          <br>
&#9679; Métricas do marketing digital
                                                          <br>
                                                          <br>
&#9679; Práticas
                            <br>
                            <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>