{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Marketing Pessoal</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Marketing Pessoal</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Marketing Pessoal trás ao praticante de suas caracterísitcas várias formas
de se destacar como pessoa, visando melhorar seu autoconhecimento e
desenvolvimento da sua apresentação para outras pessoas.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Esse curso de Marketing Pessoal irá oferecer técnicas
para o desenvolvimento pessoal e profissional
do seu aluno. Com a evolução do mundo profissional
a competência das pessoas está cada vez
maior, com isso se gera cada vez mais concorrência
entre uma posição de sucesso no mercado de
trabalho.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; O Que É Marketing Pessoal?
                                                          <br>
                                                          <br>
&#9679; Importância Do Marketing Pessoal E As Competências Fundamentais

                                                          <br>
                                                          <br>
&#9679; Como Fazer Um Projeto De Vida
                                                          <br>
                                                          <br>
&#9679; Como Fazer Marca Pessoal
                                                          <br>
                                                          <br>
&#9679; Exercício De Autoconhecimento
                                                          <br>
                                                          <br>
&#9679; Estratégias De Marketing Pessoal
                                                          <br>
                                                          <br>
&#9679; Como Fazer Comunicação Assertiva
                                                          <br>
                                                          <br>
&#9679; Apresentação Pessoal
                                                          <br>
                                                          <br>
&#9679; Estabelecer Relações Verdadeiras
                                                          <br>
                                                          <br>
&#9679; Crie, Aprimore E Mantenha Sua Rede Contatos
                                                          <br>
                                                          <br>
&#9679; Benchmarking De Pessoas
                                                          <br>
                                                          <br>
&#9679; Autoimagem Positiva E Otimista
                                                          <br>
                                                          <br>
&#9679; Etiqueta Corporativa
                                                          <br>
                                                          <br>
&#9679; Etiqueta Na Internet
                                                          <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>