{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Matemática Financeira</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Matemática Financeira</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Seja em um financiamento, cálculo de descontos, entre outros, precisamos
da matemática financeira constantemente em nossa vida e aprendê-la faz
com que estejamos preparados para situações em que sejam necessários
esses conhecimentos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso, aprenderemos, de forma prática, a
utilização da matemática financeira com exemplos
práticos voltados ao dia a dia.
O curso foi elaborado para que o aluno resolva os
problemas de três formas: Os cálculos são feitos
utilizando o simulador da calculadora HP, através
do Excel e também de forma algébrica.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows e Excel Básico
                        <br>
                        <br>
                        <em>Carga horária:</em> 30 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>


&#9679; Utilizar a calculadora HP 12c
                            <br>
                                                          <br>
&#9679; Porcentagem e calendário
                            <br>
                                                          <br>
&#9679; Juros simples
                            <br>
                                                          <br>
&#9679; Juros compostos
                            <br>
                                                          <br>
&#9679; Operações com taxas de juros
                            <br>
                                                          <br>
&#9679; Séries de pagamentos
                            <br>
                                                          <br>
&#9679; Descontos
                            <br>
                                                          <br>
&#9679; Sistemas de amortização
                            <br>
                                                          <br>
&#9679; Análise de investimentos
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>