{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Como Montar Seu <em>Currículo</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Redigir um currículo, não é tão complicado como parece. Tudo depende
do perfil do candidato, como sua experiência profissional, formação
acadêmica, objetivos, habilidades e realizações alcançadas.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O aluno aprenderá a redigir um currículo com as
informações que são relevantes, num modelo que
seja organizado e profissional. O curso utiliza o
Word para elaborar um currículo na prática.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 4 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>


&#9679; Estrutura de um currículo
                            <br>
                                                          <br>
&#9679; Currículo cronológico
                            <br>
                                                          <br>
&#9679; Currículo funcional ou temático
                            <br>
                                                          <br>
&#9679; Currículo combinado ou misto
                            <br>
                                                          <br>
&#9679; Currículo online
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>