{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>NOVA Base Cursos</title>{% endblock title %}

{% block body %}


<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Muito<br><em>Obrigado!</em></h1>
                    <h3>Em breve nossa equipe entrará em contato.
                    </h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>

                         <div class="section-heading">
                        <h1>Contato<br><em>NOVA Base Cursos</em></h1>
                        <p>Para mais informações, entre em contato conosco.
                        <br>Telefone/WhatsApp: (22) 99925 - 9350.
                        <br>E-mail: novabasecursos@gmail.com</p>

                    </div>

                    </p>
                </div>

            </section>

    {% block contact %}

    {% endblock contact %}

{% endblock body %}
</div>
