{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Operador de <em>Caixa</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O operador de caixa é o profissional responsável por registrar as mercadorias
em um ponto de venda e por receber o cliente, é uma das profissões mais
importantes no ramo do varejo, pois se relaciona diretamente com o cliente.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O objetivo do curso é apresentar a profissão para o
aluno, mostrando como age um bom profissional,
as principais funções do operador, os equipamentos
utilizados por ele e sua rotina de trabalho.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 6 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Introdução à profissão
                            <br>
                                                          <br>
&#9679; O segredo para ser um bom profissional
                            <br>
                                                          <br>
&#9679; O operador de caixa e suas funções
                            <br>
                                                          <br>
&#9679; Transações financeiras
                            <br>
                                                          <br>
&#9679; Recibos e notas fiscais
                            <br>
                                                          <br>
&#9679; Matemática aplicada ao operador
                            <br>
                                                          <br>
&#9679; Os direitos do consumidor e do operador de caixa
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>