{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Operador de Computador<br><em>I e II</em></h1>
                    <br>
                    <br>
                    <h2>Operador de Computador I</h2>
                    <h3><em>Público alvo:</em> A usuários iniciantes que desejam aprender a utilizar o computador e os programas essenciais utilizados
                        no mercado, em um tempo mais rápido.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 68 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 9 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Windows (20 horas)
                        <br>
                        <br>
                        &#9655; Word (24 horas)
                        <br>
                        <br>
                        &#9655; Excel (24 horas)
                        <br>
                        <br>

                    </h3>


                    <br>
                    <br>
                    <h2>Operador de Computador II</h2>
                    <h3><em>Público alvo:</em> Usuários iniciantes que desejam aprender a utilizar o computador, além dos programas essenciais
                        (Windows, Word, Excel), o pacote inclui o PowerPoint para que o aluno aprenda realizar apresentações
                        de trabalhos escolares ou trabalhos na empresa que trabalha. Além disso, terá um curso completo de
                        Internet e também um curso para orientação de como o aluno vai montar o seu curriculum.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 110 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 14 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Windows (20 horas)
                        <br>
                        <br>
                        &#9655; Word (24 horas)
                        <br>
                        <br>
                        &#9655; Excel (24 horas)
                        <br>
                        <br>
                        &#9655; PowerPoint (24 horas)
                        <br>
                        <br>
                        &#9655; Internet (12 horas)
                        <br>
                        <br>
                        &#9655; Como montar seu currículo (6 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}