{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Operador de Computador</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Operador de Computador I e II</em></h1>
                    <br>
                    <br>
                    <h2><em>Operador de Computador I</em></h2>
                    <h3><em>Público alvo:</em> A usuários iniciantes que desejam aprender a utilizar o computador e os programas essenciais utilizados
                        no mercado, em um tempo mais rápido.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 68 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 9 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'excel' %}">Excel (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'windows' %}">Windows (20 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'word' %}">Word (24 horas)</a>
                        <br>
                        <br>

                    </h3>


                    <br>
                    <br>
                    <h2><em>Operador de Computador II</em></h2>
                    <h3><em>Público alvo:</em> Usuários iniciantes que desejam aprender a utilizar o computador, além dos programas essenciais
                        (Windows, Word, Excel), o pacote inclui o PowerPoint para que o aluno aprenda realizar apresentações
                        de trabalhos escolares ou trabalhos na empresa que trabalha. Além disso, terá um curso completo de
                        Internet e também um curso para orientação de como o aluno vai montar o seu curriculum.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 110 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 14 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>

                        &#9655; <a href="{% url 'montagem_curriculo' %}">Como Montar Seu Currículo (6 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'excel' %}">Excel (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'internet' %}">Internet (12 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'power_point' %}">PowerPoint (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'windows' %}">Windows (20 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'word' %}">Word (24 horas)</a>

                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}
</div>