{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Oratória</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Oratória é a arte de falar em público de forma estruturada e deliberada,
com a intenção de informar, influenciar, ou entreter os ouvintes.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Este treinamento desperta a sensação de sentir-se
bem ao falar a um grupo grande ou pequeno de
pessoas através de um conjunto de técnicas e de
uma abordagem com uma linguagem simples e
objetiva.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 22 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Técnicas de oratória e controle emocional
                            <br>
                                                          <br>
&#9679; Controle emocional
                            <br>
                                                          <br>
&#9679; Vícios de linguagem
                            <br>
                                                          <br>
&#9679; Uso do olhar e a importância do sorriso
                            <br>
                                                          <br>
&#9679; Postura corporal
                            <br>
                                                          <br>
&#9679; Silêncio corporal
                            <br>
                                                          <br>
&#9679; Entonação da voz
                            <br>
                                                          <br>
&#9679; Controle emocional
                            <br>
                                                          <br>
&#9679; Equipamentos
                            <br>
                                                          <br>
&#9679; Pesquisa e desenvolvimento de tema
                            <br>
                                                          <br>
&#9679; Adequação de linguagem ao público-alvo
                            <br>
                                                          <br>
&#9679; Domínio de conteúdo
                            <br>
                                                          <br>
&#9679; Modelos de apresentação de slides
                            <br>
                                                          <br>
&#9679; Poder de persuasão
                            <br>
                                                          <br>
&#9679; Medo de falar em público
                            <br>
                                                          <br>
&#9679; Oratório virtual e EAD
                            <br>
                                                          <br>
&#9679; Dublagem
                            <br>
                                                          <br>
&#9679; Blindagem emocional
                            <br>
                                                          <br>
&#9679; Como criar e monetizar o canal do YouTube
                            <br>
                                                          <br>
&#9679; O que são lives?
                            <br>
                                                          <br>
&#9679; O que é vocabulário?
                            <br>
                                                          <br>
&#9679; Podcasts
                            <br>
                                                          <br>
&#9679; Como vender conteúdos em plataformas online
                            <br>
                                                          <br>
&#9679; Como viver de palestras?
                            <br>
                                                          <br>
&#9679; Etapas para o sucesso
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>