{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Photoshop</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Photoshop destina-se a tratamento de imagens (fotos), por isso, é
muito útil no mercado das artes finais e também no desenvolvimento de
sites para Internet, pois em sites, são colocadas várias fotos e imagens
e as mesmas devem ser tratadas para que sua definição fique a contento.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso tem como objetivo envolver o
aluno iniciante nessa realidade, através do
desenvolvimento de projetos práticos de
tratamento de imagens e explorando os diversos
recursos oferecidos pelo programa.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 28 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <em>Versões:</em> Photoshop 2020
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
                            &#9679; Ferramenta letreiro
                            <br>
                                                        <br>
&#9679; Ferramenta laço e laço poligonal
                            <br>
                                                        <br>
&#9679; Ferramenta laço magnético
                            <br>
                                                        <br>
&#9679; Ferramentas de seleção de objeto, seleção rápida
e varinha mágica
                            <br>
                                                        <br>
&#9679; Distorção de perspectiva
                            <br>
                                                        <br>
&#9679; Transformação livre e escala sensível ao conteúdo
                            <br>
                                                        <br>
&#9679; Ferramentas de pintura e desenho
                            <br>
                                                        <br>
&#9679; Conhecendo camadas
                            <br>
                                                        <br>
&#9679; Uso avançado de camadas
                            <br>
                                                        <br>
&#9679; Ferramenta de texto
                            <br>
                                                        <br>
&#9679; Retoques - ferramentas: carimbo, pincel
de recuperação para manchas e pincel de
recuperação
                            <br>
                                                        <br>
&#9679; Ferramenta caneta (seleção e criação de vetor)
                            <br>
                                                        <br>
&#9679; Galeria de filtros
                            <br>
                                                        <br>
&#9679; Menu filtros
                            <br>
                                                        <br>
&#9679; Filtro dissolver
                            <br>
                                                        <br>
&#9679; Ajustes de imagem
                            <br>
                                                        <br>
&#9679; Ajuste de imagem
                            <br>
                                                        <br>
&#9679; Criando documentos para impressão
                            <br>
                                                        <br>
&#9679; Criando e utilizando ações
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>