{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Photoshop</em> para Fotografia</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O domínio das ferramentas oferecidas pelo Photoshop é extremamente
importante para um fotógrafo, este curso visa passar o necessário para a
edição de fotografias.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso ensina diversos recursos e efeitos
utilizados para a edição profissional de fotografias
e passa algumas noções básicas de marketing.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Photoshop Básico
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> Photoshop CC 2018
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Identificar e ajustar a linha do horizonte
                                                          <br>
                                                          <br>
&#9679; Fazer recortes através das ferramentas de laço e
caneta
                                                          <br>
                                                          <br>
&#9679; Ajustar o cenário
                                                          <br>
                                                          <br>
&#9679; Ajustar as cores da fotografia
                                                          <br>
                                                          <br>
&#9679; Criar luzes artificiais
                                                          <br>
                                                          <br>
&#9679; Recuperar pele por camadas
                                                          <br>
                                                          <br>
&#9679; Limpeza de cenário
                                                          <br>
                                                          <br>
&#9679; Limpeza de pele e ajuste por frequência
                                                          <br>
                                                          <br>
&#9679; Recorte de cabelo
                                                          <br>
                                                          <br>
&#9679; Criação de <i>flyers</i>
                                                          <br>
                                                          <br>
&#9679; Animações através do efeito parallax
                                                          <br>
                                                          <br>
                            &#9679; Utilização do <i>camera raw</i>
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>