{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>PowerPoint</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>PowerPoint</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Com o Powerpoint é possível criar apresentações profissionais, com textos,
elementos gráficos, fotos, vídeos e muito mais. Muito utilizado em reuniões
de negócios para apresentação de produtos, planos de marketing, etc.
O estudantes também utilizam muito para apresentação de trabalhos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Ensinar o aluno a criar apresentações do zero,
com conceitos importantes sobre a estrutura
e o conteúdo da apresentação, assim, o aluno
aprenderá a utilizar os recursos da ferramenta
e também terá conhecimento sobre como
estruturar uma apresentação profissional.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução à informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> 365 (Compatível com 2019) e 2016
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Conhecer o PowerPoint
                                                          <br>
                                                          <br>
&#9679; Conhecer os diferentes tipos de apresentação
                                                          <br>
                                                          <br>
&#9679; Conhecer os diferentes tipos de slides
                                                          <br>
                                                          <br>
&#9679; Utilizar temas e modelos para apresentação
                                                          <br>
                                                          <br>
&#9679; Trabalhar com texto na apresentação
                                                          <br>
                                                          <br>
&#9679; Utilizar ícones na apresentação
                                                          <br>
                                                          <br>
&#9679; Inserir modelos 3D na apresentação
                                                          <br>
                                                          <br>
&#9679; Utilizar e formatar imagens para a apresentação
                                                          <br>
                                                          <br>
&#9679; Criar apresentações através de tópicos
                                                          <br>
                                                          <br>
&#9679; Aplicar animações nos elementos da apresentação
                                                          <br>
                                                          <br>
&#9679; Aplicar transições entre seus slides
                                                          <br>
                                                          <br>
&#9679; Inserir tabelas e gráficos na apresentação
                                                          <br>
                                                          <br>
&#9679; Formatar o slide mestre
                                                          <br>
                                                          <br>
&#9679; Alterar o cabeçalho e o rodapé da apresentação
                                                          <br>
                                                          <br>
&#9679; Inserir áudio e vídeo na apresentação
                                                          <br>
                                                          <br>
&#9679; Exportar a sua apresentação
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>