{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Premiere Pro</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Premiere Pro</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Premiere é um dos principais softwares de edição de vídeo para cinema,
TV e a Web, dentro da Web ele é bastante usado na edição de vídeos para
o YouTube.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Nesse curso o aluno trabalhará aprenderá
o básico para a edição de vídeos, passando
pelos diferentes tipos de corte, ajustes de som,
aplicação de efeitos e exportação do seu projeto.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> Premiere Pro CC 2019
                            <br>
                            <br>
                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Criar e configurar uma área de trabalho
                                                          <br>
                                                          <br>
&#9679; Conhecer os diferentes painéis do programa
                                                          <br>
                                                          <br>
&#9679; Criar um projeto
                                                          <br>
                                                          <br>
&#9679; Conhecer os diferentes formatos de vídeo
                                                          <br>
                                                          <br>
&#9679; Importar e organizar arquivos para o projeto
                                                          <br>
                                                          <br>
&#9679; Entender a linha do tempo e seu empilhamento
                                                          <br>
                                                          <br>
&#9679; Criar animação com caracteres
                                                          <br>
                                                          <br>
&#9679; Aplicar transições
                                                          <br>
                                                          <br>
&#9679; Criar cortes secos e cortes suaves
                                                          <br>
                                                          <br>
&#9679; Aplicar efeitos variados
                                                          <br>
                                                          <br>
&#9679; Utilizar os modos de mesclagem
                                                          <br>
                                                          <br>
&#9679; Simular um vídeo antigo
                                                          <br>
                                                          <br>
&#9679; Utilizar as predefinições de cores
                                                          <br>
                                                          <br>
&#9679; Mesclar imagens
                                                          <br>
                                                          <br>
&#9679; Mixar músicas para efeitos de transição
                                                          <br>
                                                          <br>
&#9679; Conhecer o conceito de timelapse
                                                          <br>
                                                          <br>
&#9679; Exportar seu projeto
                            <br>
                                                        <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>