{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Profissinais</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Profissionalizante</em></h1>
                    <h3><em>Cursos disponíveis na área:</em>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'administracao' %}">Administração</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'atendimento_cliente' %}">Atendimento ao Cliente</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'balconista_farmacia' %}">Balconista de Farmácia</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'montagem_curriculo' %}">Como Montar Seu Currículo</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'contabilidade' %}">Contabilidade</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'departamento_pessoal' %}">Departamento Pessoal</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'digitacao' %}">Digitação</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'empreendedorismo' %}">Empreendedorismo</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'emprego_20' %}">Emprego 2.0</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'gestao_qualidade' %}">Gestão da Qualidade</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'inteligencia_emocional' %}">Inteligência Emocional</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'lideranca_gestao' %}">Liderança e Gestão de Pessoas</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'logistica' %}">Logística</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'matematica_financeira' %}">Matemática Financeira</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'operador_caixa' %}">Operador de Caixa</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'oratoria' %}">Oratória</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'secretariado' %}">Secretariado</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'tecnicas_redacao' %}">Técnicas de Redação</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'telemarketing' %}">Telemarketing</a>
                        <br>
                        <br>
                         &#9655; <a href="{% url 'vendas' %}">Vendas</a>
                        <br>
                        <br>

                    </h3>
                </div>

                            <div class="image">
                                <img src="{% static 'img/profissionalizante.png' %}" alt="" width="50%">
                            </div>

            </section>
    <br>
    <br>
{% endblock body %}
</div>