{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Profissionalizante</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Profissionalizante</em></h1>
                    <h3><em>Público alvo:</em>
                        Usuários iniciantes que desejam um curso completo profissionalizante, podendo atuar depois em
                        várias áreas de atuação dentro da informática. O curso ainda conta com o aprendizado de Rotinas
                        Administrativas, para que o aluno se torne um profissional preparado para o mercado de trabalho.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 218 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 27 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'corel_draw' %}">CorelDRAW (24 horas)</a>

                                                <br>
                        <br>
                        &#9655; <a href="{% url 'operador_computador' %}">Operador de Computador II (110h)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'photoshop' %}">Photoshop (24 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'rotinas_adm' %}">Rotinas Administrativas (60h)</a>
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>