{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Profissionalizante</em></h1>
                    <h3><em>Público alvo:</em>
                        Usuários iniciantes que desejam um curso completo profissionalizante, podendo atuar depois em
                        várias áreas de atuação dentro da informática. O curso ainda conta com o aprendizado de Rotinas
                        Administrativas, para que o aluno se torne um profissional preparado para o mercado de trabalho.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária total:</em> 218 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 27 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                         &#9655; Operador de computador II (110h)
                                                <br>
                        <br>
                         &#9655; CorelDRAW (24 horas)
                        <br>
                        <br>
                         &#9655; Photoshop (24 horas)
                        <br>
                        <br>
                         &#9655; Rotinas administrativas (60h)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>

{% endblock body %}
</div>