{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Projetista Completo</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Projetista Completo</em></h1>
                    <h3><em>Público alvo:</em>
                       Usuários que desejam dominar além do AutoCAD, entrando em contato com ferramentas de desenho
                        que utilizam novas tecnologias.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 176 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 22 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'autocad_total' %}">AutoCAD Total (104 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'revit_base' %}">Revit - Base (36 horas)</a>

                        <br>
                        <br>
                        &#9655; <a href="{% url 'sketchup' %}">SketchUP (12 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'solidworks' %}">SolidWorks (24 horas)</a>
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}
</div>