{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

        <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Projetista<br><em>Completo</em></h1>
                    <h3><em>Público alvo:</em>
                       Usuários que desejam dominar além do AutoCAD, entrando em contato com ferramentas de desenho
                        que utilizam novas tecnologias.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária total:</em> 176 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 22 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; AutoCAD Total (104 horas)
                        <br>
                        <br>
                        &#9655; SketchUP (12 horas)
                        <br>
                        <br>
                        &#9655; Revit (36 horas)
                        <br>
                        <br>
                        &#9655; SolidWorks (24 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}