{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Revit</em> - Base</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Revit é um software para a arquitetura, ele utiliza o conceito de modelagem
                    “BIM”, esse conceito oferece uma associatividade bi-direcional, o que
                    permite que uma mudança feita em qualquer lugar do projeto refletirá por
                    todo o projeto.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso você criará um projeto completo, desde
                    a planta até a renderização da casa com mobília
                    e iluminação.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 36 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> Revit 2018
                        <br>
                        <br>

                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Criar esboços e peças 3D
                                                          <br>
                              <br>
                            &#9679; Iniciar um novo projeto
                                                          <br>
                              <br>
                            &#9679; Ajustar a altura dos níveis
                                                                                      <br>
                                                          <br>
                            &#9679; Criar paredes retas e curvas
                                                                                      <br>
                                                          <br>
                            &#9679; Utilizar cotas para conferência
                                                                                      <br>
                                                          <br>
                            &#9679; Criar rodapés e molduras de gesso
                                                                                      <br>
                                                          <br>
                            &#9679; Importar plantas do AutoCAD
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir portas e janelas no projeto
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir cotas
                                                        <br>
                                                          <br>
                            &#9679; Identificar ambientes
                                                                                      <br>
                                                          <br>
                            &#9679; Criar pisos
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir soleiras e peitoris
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir o mobiliário
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir forro
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir iluminação
                                                                                      <br>
                                                          <br>
                            &#9679; Inserir ventilador de teto
                                                                                      <br>
                                                          <br>
                            &#9679; Renderizar o projeto
                                                                                      <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>