{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
       <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Rotinas<br><em>Administrativas</em></h1>
                    <h3><em>Público alvo:</em>
                        A usuários que desejam estar mais preparados para o mercado de trabalho, pois, é importante que se
                        tenha um conhecimento administrativo amplo da empresa. Esse curso prepara o aluno para entender
                        toda a área administrativa e também desenvolve algumas habilidades importantes, como técnicas de
                        redação e telemarketing. Essas habilidades, junto com o conhecimento administrativo, farão com que
                        o aluno torne-se um profissional muito mais completo.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a Informática
                        <br>
                        <br>
                        <em>Carga horária total:</em> 60 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 8 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; Administração (12 horas)
                        <br>
                        <br>
                        &#9655; Contabilidade (8 horas)
                        <br>
                        <br>
                        &#9655; Departamento Pessoal (8 horas)
                        <br>
                        <br>
                        &#9655; Secretariado (12 horas)
                        <br>
                        <br>
                        &#9655; Técnicas de Redação (8 horas)
                        <br>
                        <br>
                        &#9655; Telemarketing (12 horas)
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}
</div>