{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Rotinas Administrativas</title>{% endblock title %}

{% block body %}

<div class="page-content">
       <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1><em>Rotinas Administrativas</em></h1>
                    <h3><em>Público alvo:</em>
                        A usuários que desejam estar mais preparados para o mercado de trabalho, pois, é importante que se
                        tenha um conhecimento administrativo amplo da empresa. Esse curso prepara o aluno para entender
                        toda a área administrativa e também desenvolve algumas habilidades importantes, como técnicas de
                        redação e telemarketing. Essas habilidades, junto com o conhecimento administrativo, farão com que
                        o aluno torne-se um profissional muito mais completo.
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução a Informática
                        <br>
                        <br>
                        <em>Carga horária total:</em> 60 horas
                        <br>
                        <br>
                        <em>Tempo de conclusão:</em> 8 meses
                        <br>
                        <br>
                        <br>
                        <em>Cursos no pacote:</em>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'administracao' %}">Administração (12 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'contabilidade' %}">Contabilidade (8 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'departamento_pessoal' %}">Departamento Pessoal (8 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'secretariado' %}">Secretariado (12 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'tecnicas_redacao' %}">Técnicas de Redação (8 horas)</a>
                        <br>
                        <br>
                        &#9655; <a href="{% url 'telemarketing' %}">Telemarketing (12 horas)</a>
                        <br>
                        <br>
                    </h3>
                </div>

            </section>


{% endblock body %}
</div>