{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Secretariado</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Secretariado</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O papel da secretária/assessor ganhou muita importância, pois não
se limitam mais a simples atendimentos, mas se envolvem em diversas
questões para que possam apoiar a direção da empresa, contribuindo para
o sucesso da organização.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O objetivo desse curso é passar justamente essa
visão ampla para os profissionais que desejam ingressar
nessa área, abordando diversos assuntos
ligados ao cargo e a empresa em geral.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Secretariado E Suas Principais Atribuições
                            <br>
                                                          <br>
&#9679; Capacidades E Habilidades Profissionais
                            <br>
                                                          <br>
&#9679; Relacionamento Intrapessoal E Interpessoal
                            <br>
                                                          <br>
&#9679; Ética Profissional
                            <br>
                                                          <br>
&#9679; Formas De Comunicação
                            <br>
                                                          <br>
&#9679; Como Escrever Bem
                            <br>
                                                          <br>
&#9679; Documentos Comerciais
                            <br>
                                                          <br>
&#9679; Organização: Agenda e Arquivos
                            <br>
                                                          <br>
&#9679; Organização: Reuniões e Viagens
                            <br>
                                                          <br>
&#9679; Gestão do Tempo
                            <br>
                                                          <br>
&#9679; Atendimento Ao Cliente
                            <br>
                                                          <br>
&#9679; Introdução à Administração
                            <br>
                                                          <br>
&#9679; Planejamento
                            <br>
                                                          <br>
&#9679; Organização
                            <br>
                                                          <br>
&#9679; Direção
                            <br>
                                                          <br>
&#9679; Controle
                            <br>
                                                          <br>
&#9679; Administração Financeira
                            <br>
                                                          <br>
&#9679; Títulos De Crédito
                            <br>
                                                          <br>
&#9679; Cobrança
                            <br>
                                                          <br>
&#9679; Compras e Estoque
                            <br>
                                                          <br>
&#9679; Normas ISO
                            <br>
                                                          <br>
&#9679; Teoria dos 5S
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>