{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>SketchUp</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>SketchUp</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> É um programa gratuito, extremamente versátil, utilizado principalmente
                    para criar facilmente estudos iniciais e esboços de modelos ou maquetes
                    em 3D e também em inúmeras outras aplicações como design de móveis,
                    residências, peças mecânicas, etc.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> A proposta desse cursos é ensinar ao aluno iniciante
                    as técnicas básicas de utilização, através de
                    projetos práticos o aluno aprende as ferramentas e
                    suas aplicações dando total condições de se aprofundar
                    posteriormente nesse software tão poderoso.

                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> SketchUp 2015
                        <br>
                        <br>

                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Conhecer o SketchUp
                                                          <br>
                              <br>
                            &#9679; Movimentar a câmera
                                                          <br>
                              <br>
                            &#9679; Transformar 2D em 3D
                                                          <br>
                              <br>
                            &#9679; Edição básica
                                                          <br>
                              <br>
                            &#9679; Modelagem 3D básica
                                                          <br>
                              <br>
                            &#9679; Texturas e materiais
                                                          <br>
                              <br>
                            &#9679; Casa e mobília
                                                          <br>
                              <br>
                            &#9679; Organizar um projeto
                            <br>
                              <br>
                            &#9679; Apresentar um projeto

                                                                                      <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>