{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>SolidWorks</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>SolidWorks</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Solidworks é um programa de CAD 3D usado para criar peças de
                        diferentes materiais, simular e analisar o funcionamento de várias peças
                        em montagens, testar a resistência de materiais, gerenciar os dados do
                        projeto e criar relatórios de inspeção.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso você irá aprender o básico para montar
                        peças utilizando as normas ABNT, e a simular
                        seus movimentos.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                        <em>Versões:</em> SolidWorks 2018
                        <br>
                        <br>

                        <br>
                        <br>

                          <em>O que o aluno aprenderá?</em>
                              <br>
                              <br>
                            &#9679; Criar esboços e peças 3D
                            <br>
                            <br>
                            &#9679; Fazer cortes extrudados, chanfros e filetes
                            <br>
                            <br>
                            &#9679; Utilizar o ressalto/base revolucionado
                            <br>
                            <br>
                            &#9679; Utilizar a ferramenta loft
                            <br>
                            <br>
                            &#9679; Introdução ao desenho técnico mecânico
                            <br>
                            <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>