{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Técnicas de <em>Redação</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> Todos os profissionais, independente da área que atuam, devem se
aperfeiçoar na escrita, é uma ferramenta muito importante de interação
e que as empresas valorizam muito quando e esperam que o profissional
consiga expor suas ideias de forma clara e correta.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> A proposta deste curso é ensinar ao aluno técnicas
importantes para uma boa redação de textos,
seja para utilizar esses conhecimentos em seus estudos,
no trabalho ou até em concursos públicos
que possam vir a prestar.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>


&#9679; Tipos e níveis de linguagem
                            <br>
                                                          <br>
&#9679; Estrutura e tipos de texto
                            <br>
                                                          <br>
&#9679; Gramática
                            <br>
                                                          <br>
&#9679; Redação oficial nos concursos públicos
                            <br>
                                                          <br>
&#9679; Redação técnica
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>