{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Telemarketing</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O curso inicia com uma abordagem de marketing para depois se aprofundar
nas diversas técnicas para que o telemarketing seja executado e traga
realmente resultados para as empresas.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso inicia com uma abordagem de marketing
para depois se aprofundar nas diversas técnicas
para que o telemarketing seja executado e traga
realmente resultados para as empresas.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 8 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>

&#9679; Marketing E Objetivos Do Telemarketing
                            <br>
                                                          <br>
&#9679; Características Gerais Do Telemarketing
                            <br>
                                                          <br>
&#9679; Tipos De Telemarketing
                            <br>
                                                          <br>
&#9679; Perfil Do Operador De Telemarketing
                            <br>
                                                          <br>
&#9679; Rotina Do Operador De Telemarketing
                            <br>
                                                          <br>
&#9679; Conhecimento Dos Produtos E Serviços
                            <br>
                                                          <br>
&#9679; Tipos De Clientes
                            <br>
                                                          <br>
&#9679; Identificar E Desenvolver As Necessidades Dos Clientes
                            <br>
                                                          <br>
&#9679; Abertura Da Chamada
                            <br>
                                                          <br>
&#9679; Superando Objeções
                            <br>
                                                          <br>
&#9679; Processo De Comunicação
                            <br>
                                                          <br>
&#9679; Técnicas De Abordagem
                            <br>
                                                          <br>
&#9679; Qualidade No Atendimento Telefônico
                            <br>
                                                          <br>
&#9679; Script
                            <br>
                                                          <br>
&#9679; Metas E Os 5r’s Do Sucesso
                            <br>
                                                          <br>
&#9679; Prospecção De Clientes
                            <br>
                                                          <br>
&#9679; Fechamento De Vendas Pelo Telefone
                            <br>
                                                          <br>
&#9679; Pós-Vendas
                            <br>
                                                          <br>
&#9679; Postura De Voz E Higiene Vocal
                            <br>
                                                          <br>
&#9679; Direitos E Obrigações
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>