{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Vendas</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Vendas</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O processo de venda começou junto com a formação da sociedade e,
com certeza, é um dos processos mais importantes até os dias de hoje, ele
baseia-se na troca de materiais por dinheiro e tem evoluído com o passar
do tempo.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> O curso procura trazer técnicas voltadas a vendas
em diversos segmentos, tais como dicas para um
melhor desempenho, tipos diferentes de canais de
venda, esclarecimentos sobre as principais dúvidas
dos iniciantes, tudo para ajudar a se tornar um
profissional de excelência na área comercial.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Nenhum
                        <br>
                        <br>
                        <em>Carga horária:</em> 12 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
<br>


&#9679; O Que É Ser Vendedor?
                            <br>
                                                          <br>
&#9679; Tipos De Vendedores
                            <br>
                                                          <br>
&#9679; Negociação
                            <br>
                                                          <br>
&#9679; Características De Vendedores
                            <br>
                                                          <br>
&#9679; Inteligência Emocional
                            <br>
                                                          <br>
&#9679; Negociação Ganha-Ganha
                            <br>
                                                          <br>
&#9679; Honestidade, Simpatia E Empatia
                            <br>
                                                          <br>
&#9679; Principais Erros Dos Vendedores
                            <br>
                                                          <br>
&#9679; Zona De Conforto
                            <br>
                                                          <br>
&#9679; Planejamento De Vendas
                            <br>
                                                          <br>
&#9679; Desenvolvimento Do Plano De Vendas
                            <br>
                                                          <br>
&#9679; Campanhas E Fidelização Dos Clientes
                            <br>
                                                          <br>
&#9679; Importância Dos Canais De Vendas
                            <br>
                                                          <br>
&#9679; Vendas Por Telefone E E-Mail
                            <br>
                                                          <br>
&#9679; Vendas Com WhatsApp
                            <br>
                                                          <br>
&#9679; Redes Sociais E Venda Porta A Porta
                            <br>
                                                          <br>
&#9679; Processos De Venda
                            <br>
                                                          <br>
&#9679; Coaching De Vendas
                            <br>
                                                          <br>
&#9679; Perguntas Que Vendem
                            <br>
                                                          <br>
&#9679; O Quadrante Das Vendas
                            <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>