{% extends 'portfolio/base.html' %}

{% load static %}

{% block title %}<title>Windows</title>{% endblock title %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Windows</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Windows é o sistema operacional mais utilizado no mundo e dominar
a sua utilização é de extrema importância para que o usuário gerencie e
utilize o computador de forma eficaz.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Ensinar ao aluno iniciante em Windows os
principais programas disponíveis e também
as principais ferramentas para a utilização e
organização do computador.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução à informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 20 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> Windows 10, 8 e 7
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>

&#9679; Conhecer o Windows e suas janelas
                                                          <br>
                                                          <br>
&#9679; Criar atalhos
                                                          <br>
                                                          <br>
&#9679; A lixeira do Windows
                                                          <br>
                                                          <br>
&#9679; O programa Paint
                                                          <br>
                                                          <br>
&#9679; O programa Wordpad
                                                          <br>
                                                          <br>
&#9679; O programa Calculadora
                                                          <br>
                                                          <br>
&#9679; O programa Bloco de Notas
                                                          <br>
                                                          <br>
&#9679; O comando Executar
                                                          <br>
                                                          <br>
&#9679; Ferramenta de Captura
                                                          <br>
                                                          <br>
&#9679; O programa Explorador de Arquivos
                                                          <br>
                                                          <br>
&#9679; Pastas pessoais
                                                          <br>
                                                          <br>
&#9679; Bibliotecas
                                                          <br>
                                                          <br>
&#9679; Configurações e propriedades do Windows
                                                          <br>
                                                          <br>
&#9679; Gerenciar o Windows
                                                          <br>
                                                          <br>
&#9679; Contas de usuários e instalação de programas
                                                          <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>