{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Word</em> - Avançado (TCC)</h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O padrão de formatação de trabalhos acadêmicos normalmente utilizado
pelas instituições de ensino superior são baseadas nas normas definidas
pela ABNT (Associação Brasileira de Normas Técnicas).</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Neste curso aprenderemos a formatar um TCC,
obedecendo às normas da ABNT e seguindo o
manual de normalização da Uniso – Universidade
de Sorocaba. O curso vai além da formatação de
margens, textos e paginação, instruindo o aluno a
inserir e a gerenciar, de forma profissional, citações
e referências.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Windows e Word Básico
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial
                        <br>
                        <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Formatar o layout de um TCC
                                                          <br>
                                                          <br>
&#9679; Formatar títulos
                                                          <br>
                                                          <br>
&#9679; Inserir notas e rodapés
                                                          <br>
                                                          <br>
&#9679; Usar fontes bibliográficas
                                                          <br>
                                                          <br>
&#9679; Usar ilustrações
                                                          <br>
                                                          <br>
&#9679; Usar quadros
                                                          <br>
                                                          <br>
&#9679; Usar tabelas
                                                          <br>
                                                          <br>
&#9679; Glossário, apêndice e anexo
                                                          <br>
                                                          <br>
&#9679; Capa e lombada
                                                          <br>
                                                          <br>
&#9679; Folha de rosto e aprovação
                                                          <br>
                                                          <br>
&#9679; Dedicatória, agradecimentos e epígrafe
                                                          <br>
                                                          <br>
&#9679; Resumos
                                                          <br>
                                                          <br>
&#9679; Listas
                                                          <br>
                                                          <br>
&#9679; Sumário
                                                          <br>
                                                          <br>
&#9679; Paginação
                                                          <br>
                                                          <br>
&#9679; Impressão
                                                          <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>