{% extends 'portfolio/base.html' %}

{% load static %}

{% block body %}

<div class="page-content">
        <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1><em>Word</em></h1>
                    <br>

                    <br>
                    <h4><em>Descrição:</em> O Word é um programa de processamento de texto, projetado para
auxiliar na criação de documentos com mais eficiência e com qualidade
profissional, incluindo ferramentas avançadas de edição e revisão de textos.</h4>
                        <br>
                        <br>
                        <h4><em>Objetivo do curso:</em> Preparar o aluno para a utilização correta do
Word, onde ele aprenda a criar, formatar e
manipular textos, além de abordar diversas
ferramentas que irão ajudar na composição de
documentos profissionais.
                            <br>
                            <br>
                        <br>
                        <br>
                        <em>Pré-requisito:</em> Introdução à informática
                        <br>
                        <br>
                        <em>Carga horária:</em> 24 horas
                        <br>
                        <br>
                        <em>Modalidade:</em> Presencial e EAD
                        <br>
                        <br>
                            <em>Versões:</em> Word 365 (Compatível com 2019) e 2016
                            <br>
                            <br>
                            <br>
                            <br>

                          <em>O que o aluno aprenderá?</em>
                                                          <br>
                                                          <br>
&#9679; Conhecer o Word
                                                          <br>
                                                          <br>
&#9679; Criação e digitação de documentos
                                                          <br>
                                                          <br>
&#9679; Seleção de textos
                                                          <br>
                                                          <br>
&#9679; Formatação de textos
                                                          <br>
                                                          <br>
&#9679; Parágrafo e alinhamento
                                                          <br>
                                                          <br>
&#9679; Espaçamento entre linhas e recuos de parágrafos
                                                          <br>
                                                          <br>
&#9679; Estilos de texto
                                                          <br>
                                                          <br>
&#9679; Ortografia e gramática
                                                          <br>
                                                          <br>
&#9679; Listas numeradas e com marcadores
                                                          <br>
                                                          <br>
&#9679; Tabulação
                                                          <br>
                                                          <br>
&#9679; Folha de rosto e estilos
                                                          <br>
                                                          <br>
&#9679; Cabeçalho e rodapé
                                                          <br>
                                                          <br>
&#9679; Tabelas
                                                          <br>
                                                          <br>
&#9679; Bordas em parágrafos e textos
                                                          <br>
                                                          <br>
&#9679; Bordas nas páginas e sombreamento
                                                          <br>
                                                          <br>
&#9679; Configurações de página
                                                          <br>
                                                          <br>
&#9679; Mala direta
                                                          <br>
                                                          <br>
&#9679; Localizar e substituir texto
                                                          <br>
                                                          <br>
&#9679; Imagens
                                                          <br>
                                                          <br>
&#9679; WordArt
                                                          <br>
                                                          <br>
&#9679; Autoformas e Clip-art
                                                          <br>
                                                          <br>
&#9679; Texto em colunas e capitular
                                                          <br>
                                                          <br>
&#9679; SmartArt
                                                          <br>
                                                          <br>
                    </h4>
                </div>

            </section>

{% endblock body %}
</div>